<div class="modal fade" id="toolModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-dark">
      <%= form_with model: tool do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="Title"><%= tool.title %></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <%= form.label :name, class: 'input-group-text' %>
            <%= form.text_field :name, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <%= form.label :title, class: 'input-group-text' %>
            <%= form.text_field :title, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <%= form.label :short_title, class: 'input-group-text' %>
            <%= form.text_field :short_title, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <%= form.label :icon_url, class: 'input-group-text' %>
            <%= form.text_field :icon_url, class: 'form-control' %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :options_info, class: 'input-group-text input-group-text-wrap' %>
            <%= form.text_area :options_info, value: form.object.options_info, class: 'form-control' %>
          </div>

          <div class="input-group mb-3">
            <%= Kramdown::Document.new(form.object&.options_info || "").to_html.html_safe %>
          </div>

          <%= form.fields_for :game_tools do |game_tool_form| %>
            <div class="input-group mb-3">
              <div class="input-group-text">
                <%= game_tool_form.label nil, game_tool_form.object.game.title %>
              </div>
              <div class="form-check form-switch switch-group fs-2">
                 <%= game_tool_form.check_box :active, class: 'form-check-input switch-group h-100', role: 'switch' %>
              </div>
              <%= game_tool_form.text_field :options, value: game_tool_form.object.options.to_json, class: 'form-control float-end' %>
            </div>
          <% end %>

          <div class="input-group mb-3">
            <%= form.label :role, class: 'input-group-text' %>
            <%= form.select :role, options_for_select(USER_ROLES, tool.role), {}, class: 'form-select' %>
          </div>
          <div class="input-group mb-3">
            <%= form.label :active, class: 'input-group-text' %>
            <div class="form-check form-switch switch-group fs-2">
              <%= form.check_box :active, class: 'form-check-input switch-group h-100' %>
            </div>
          </div>

          <%= form.submit nil, class: 'btn btn-primary' %>
        </div>
      <% end %>
  </div>
</div>
