<% provide(:title, "Valar Tools") %>

<div class="tool-title">
    <% if active_game %>
      <%= active_game.title %> - Valar Tools
    <% else %>
      Ninguna partida en activo
    <% end %>
</div>

<div id="player-tools">
  <% player_tools&.each do | tool | %>
    <% if @current_user.present? || tool.role == 'guest' %>
      <div class="tool-box text-white">
        <div class="tool-box-icon">
          <%= link_to tool.path do %>
            <i class="<%= tool.icon_url %> text-white"></i>
          <% end %>
        </div>
        <div class="tool-box-title"><%= tool.short_title.capitalize %></div>
      </div>
    <% end %>
  <% end %>
</div>

<% unless @current_user.nil? %>
  <% if @current_user&.is_master? %>
    <div id="master-tools">
      <% master_tools&.each do | tool | %>
        <div class="tool-box text-info">
          <div class="tool-box-icon">
            <%= link_to tool.path do %>
              <i class="<%= tool.icon_url %> text-info"></i>
            <% end %>
          </div>
          <div class="tool-box-title"><%= tool.short_title.capitalize %></div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @current_user&.is_admin? %>
    <div id="admin-tools">
      <% admin_tools&.each do | tool | %>
        <div class="tool-box text-warning">
          <div class="tool-box-icon">
            <%= link_to tool.path do %>
              <i class="<%= tool.icon_url %> text-warning"></i>
            <% end %>
          </div>
          <div class="tool-box-title"><%= tool.short_title.capitalize %></div>
        </div>
      <% end %>
    </div>

    <div id="inactive-tools">
      <% inactive_tools.each do | tool | %>
        <div class="tool-box text-danger">
          <div class="tool-box-icon">
            <%= link_to tool.path do %>
              <i class="fa-solid <%= tool.icon_url %> text-danger"></i>
            <% end %>
          </div>
          <div class="tool-box-title"><%= tool.short_title.capitalize %></div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
