<div class="p-3 ms-1">
  <% if action_name == 'index' %>
    <% items = @results %>
  <% else %>
    <% items = @results.first(6) %>
  <% end %>

  <% if items.length == 0 %>
    <%= t('search.none') %> <%= @query %>
  <% end %>

  <% items.each do | item | %>
    <div class="border border-primary mb-3 ps-2 p-1 <%= item.visible ? '' : 'inactive' %>">
      <div class="d-flex align-items-center">
        <h4 class="me-3">
          <%= puts item.class %>
          <%= link_to item.title, polymorphic_path(item), remote: true, class: "link-unstyled" %>
        </h4>
        <span class="badge rounded-pill pill-tags pill-tags-text bg-brass">
          <i class="bi <%= Tool.find_by(name: item.class.to_s.downcase.pluralize)&.icon_url %>"></i>
          <%= t('activerecord.models.' + item.class.to_s.downcase, count: 1) %>
        </span>
      </div>
      <div>
        <%= render item.class.to_s.downcase, item: item %>
      </div>
    </div>
  <% end %>
  <% if (@count > 6 && action_name == 'search') %>
    <%= link_to t('search.more', count: (@count - 6)), search_path(query: @query), class: "text-white" %>
  <% else %>
    <%= paginate @results, theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap justify-content-center", nav_class: "d-inline-block" %>
  <% end %>
</div>
