<div class="modal fade" id="bugModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="Title">Informa de un bug</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= form_with(url: issues_url) do |form| %>
            <div class="input-group mb-3">
              <%= form.label :title, class: 'input-group-text' %>
              <%= form.text_field :title, class: 'form-control', minlength: 5 %>
            </div>
            <div class="input-group mb-3">
              <%= form.label :description, class: 'input-group-text' %>
              <%= form.text_area :description, class: 'form-control', minlength: 50, rows: 20 %>
            </div>
            <div class="actions">
              <%= form.submit nil, class: 'btn btn-primary' %> - o directamente en <%= link_to '<i class="bi bi-github"></i> GitHub'.html_safe, 'https://github.com/buenchico/valar-tools2/issues', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
  </div>
</div>
