$(document).on('turbolinks:load', function () {
  var step_id = 0;
  $("#add_step").click(function(){
    step_id++;

    var html_form = `
      <div class="col-12 col-md-2 mb-3">
        <div class="input-group">
          <%= j label_tag :hex, I18n.t('helpers.label.hex'), class: 'input-group-text' %>
          <%= j number_field "hex", nil, class: 'form-control', min: 0, step: 1 %>
        </div>
      </div>
    `
    html_form += `
      <div class="col-12 col-md-3 mb-3">
        <div class="input-group">
          <%= label_tag :terrain, I18n.t('helpers.label.terrain'), class: 'input-group-text' %>
          <%= select_tag "terrain", options_for_select(@terrain.map { |t| [t["name"], [t["name"], t["mod"]]] }), {class: 'form-select'} %>
        </div>
      </div>
    `

    html_form += `
      <div class="col-12 col-md-3 mb-3">
        <div class="input-group">
          <%= label_tag :speed, I18n.t('helpers.label.speed'), class: 'input-group-text' %>
          <%= select_tag "speed", options_for_select(@speed.map { |s| [s["name"], [s["name"], s["mod"]]] }), {class: 'form-select'} %>
        </div>
      </div>
    `

    html_form += `
      <div class="col-11 col-md-3 mb-3">
        <div class="input-group">
          <%= label_tag :obstacle, I18n.t('helpers.label.obstacle'), class: 'input-group-text' %>
          <%= select_tag "obstacle", options_for_select(@obstacles.map { |o| [o["name"],[o["desc"], o["hex"]]] }), {class: 'form-select', include_blank: true} %>
        </div>
      </div>
    `

    html_form += `
      <div class="col-1 col-md-1">
        <div class="mt-1 text-danger remstep">
          <i class="bi bi-x-circle-fill"></i>
        </div>
      </div>
    `

    var newStep = $('<div/>', {
      'id' : 'step_' + step_id,
      'class' : 'row ms-1 step',
      'html' : html_form

    }).hide().fadeIn("normal").css("display", "");

    // Append the newStep as the last child of the "steps" div
    $('#steps').append(newStep);

    $('#hex_').attr("name","step["+step_id+"][hex]")
              .attr("id","step["+step_id+"][hex]")
    $('#terrain').attr("name","step["+step_id+"][terrain]")
                  .attr("id","step["+step_id+"][terrain]")
    $('#speed').attr("name","step["+step_id+"][speed]")
                .attr("id","step["+step_id+"][speed]")
    $('#obstacle').attr("name","step["+ step_id +"][obstacle]")
                   .attr("id","step["+step_id+"][obstacle]")
  });
});
