$(document).on('turbolinks:load', function () {
  var step_id = 0;
  $("#add_step").click(function(){
    step_id++;

    var terrain = $("#path_type_btn").val()

    var html_form = `
      <%= j label_tag :distance, I18n.t('helpers.label.distance'), class: 'input-group-text' %>
      <%= j number_field "hex", nil, class: 'form-control me-2', min: 0, step: 1 %>

      <%= label_tag :terrain, I18n.t('helpers.label.terrain'), class: 'input-group-text' %>
      `

    if (terrain == 'land') {
      html_form += `<%= select_tag "terrain", options_for_select(@options["land"]["terrain"].sort_by { |key, speed_option| speed_option["mod"] }.map { |key, speed_option| [speed_option["name"], [speed_option["name"],speed_option["mod"]]] }, [@options["land"]["terrain"]["default"]["name"], @options["land"]["terrain"]["default"]["mod"]].to_s), {class: 'form-select me-2 land'} %>`
    } else {
      html_form += `<%= select_tag "terrain", options_for_select(@options["sea"]["terrain"].sort_by { |key, speed_option| speed_option["mod"] }.map { |key, speed_option| [speed_option["name"], [speed_option["name"],speed_option["mod"]]] }, [@options["sea"]["terrain"]["default"]["name"], @options["sea"]["terrain"]["default"]["mod"]].to_s), {class: 'form-select me-2 sea'} %>`
    }

    html_form += `
            <%= label_tag :speed, I18n.t('helpers.label.speed'), class: 'input-group-text' %>
            <%= select_tag "travel_speed", options_for_select(@options["land"]["travel_speed"].sort_by { |key, speed_option| speed_option["mod"] }.map { |key, speed_option| [speed_option["name"], [speed_option["name"],speed_option["mod"]]] }, [@options["land"]["travel_speed"]["default"]["name"], @options["land"]["travel_speed"]["default"]["mod"]].to_s), {class: 'form-select me-2 land'} %>
            <%= select_tag "travel_speed", options_for_select(@options["sea"]["travel_speed"].sort_by { |key, speed_option| speed_option["mod"] }.map { |key, speed_option| [speed_option["name"], [speed_option["name"],speed_option["mod"]]] }, [@options["sea"]["travel_speed"]["default"]["name"], @options["sea"]["travel_speed"]["default"]["mod"]].to_s), {class: 'form-select me-2 sea'} %>

            <%= label_tag :obstacle, I18n.t('helpers.label.obstacle'), class: 'input-group-text' %>
            `

    if (terrain == 'land') {
      html_form += `<%= select_tag "obstacle", options_for_select(@options["land"]["obstacles"].sort_by { |key, speed_option| speed_option["mod"] }.map { |key, speed_option| [speed_option["name"], [speed_option["name"],speed_option["mod"]]] }), {class: 'form-select me-2 land', include_blank: true} %>`
    } else {
      html_form += `<%= select_tag "obstacle", options_for_select(@options["sea"]["obstacles"].sort_by { |key, speed_option| speed_option["mod"] }.map { |key, speed_option| [speed_option["name"], [speed_option["name"],speed_option["mod"]]] }), {class: 'form-select me-2 sea', include_blank: true} %>`
    }

    html_form += `
            <div class="mt-1 text-danger remstep">
              <i class="bi bi-x-circle-fill"></i>
            </div>
            `
    var newStep = $('<div/>', {
      'id' : 'step_' + step_id,
      'class' : 'input-group mb-3 w-auto ' + terrain,
      'html' : html_form

    }).hide().fadeIn("normal").css("display", "");

    // Append the newStep as the last child of the "steps" div
    $('#steps').append(newStep);

    $('#hex_').attr("name","step["+step_id+"][hex]")
              .attr("id","step["+step_id+"][hex]")
    $('#terrain').attr("name","step["+step_id+"][terrain][" + terrain + "]")
                  .attr("id","step["+step_id+"][terrain][" + terrain + "]")
    $('#speed').attr("name","step["+step_id+"][speed]")
                .attr("id","step["+step_id+"][speed]")
    $('#obstacle').attr("name","step["+ step_id +"][obstacle][" + terrain + "]")
                   .attr("id","step["+step_id+"][obstacle][" + terrain + "]")
  });
});
