<script>
  <%= render partial: 'step', formats: [:js] %>
</script>

<% provide(:title, @tool.title) %>
<% provide(:icon, @tool.icon_url) %>

<div class="tool-title">
  <i class="white <%= yield(:icon) %>"></i>
  <%= yield(:title) %> — <span class="land">Tierra</span><span class="sea d-none">Mar</span>
  <%= button_tag 'Cambiar terreno', id: 'path_type_btn', class: 'btn btn-info float-end mt-3', value: 'land' %>
</div>

<div id="result" class="d-none">

</div>

<div class="container d-flex flex-row align-items-center flex-wrap">
  <%= form_with url: travel_calculate_path, local: false do |form| %>
    <%= form.hidden_field :type, value: 'land' %>

    <div class="input-group mb-3 w-auto">
      <%= form.label :from, class: 'input-group-text' %>
      <%= form.text_field :from, class: 'form-control me-2 ui-autocomplete-input auto-source', data: {autocomplete_source: locations_list_path} %>
      <%= form.label :to, class: 'input-group-text' %>
      <%= form.text_field :to, class: 'form-control me-2 ui-autocomplete-input auto-source', data: {autocomplete_source: locations_list_path} %>
    </div>

    <div class="input-group mb-3 w-auto">
      <%= form.label :size_travel_land, class: 'input-group-text land' %>
      <%= form.label :size_travel_sea, class: 'input-group-text sea d-none' %>
      <%= form.number_field :size, class: 'form-control me-2', min: 0, step: 1 %>

      <%= form.label :army_type_land, class: 'input-group-text land' %>
      <%= form.label :army_type_sea, class: 'input-group-text sea d-none' %>
      <%= form.select "army_speed[land]", options_for_select(@options["land"]["army_speed"].sort_by { |key, speed_option| speed_option["mod"] }.map { |key, speed_option| [speed_option["name"], [speed_option["name"], speed_option["mod"]]] }, [@options["land"]["army_speed"]["default"]["name"], @options["land"]["army_speed"]["default"]["mod"]].to_s), {}, id: 'army_type_land', class: 'form-select me-2 land' %>
      <%= form.select "army_speed[sea]", options_for_select(@options["sea"]["army_speed"].sort_by { |key, speed_option| speed_option["mod"] }.map { |key, speed_option| [speed_option["name"], [speed_option["name"], speed_option["mod"]]] }, [@options["sea"]["army_speed"]["default"]["name"], @options["sea"]["army_speed"]["default"]["mod"]].to_s), {}, id: 'army_type_sea', class: 'form-select me-2 sea d-none', disabled: true %>
    </div>

    <div id="steps" class="ms-5">
      <div id="step_0" class="input-group mb-3 w-auto pe-3">
        <%= form.label :distance, class: 'input-group-text' %>
        <%= form.number_field "step[0][hex]", class: 'form-control me-2', min: 0, step: 1 %>

        <%= form.label :terrain, class: 'input-group-text' %>
        <%= form.select :"step[0][terrain][land]", options_for_select(@options["land"]["terrain"].sort_by { |key, speed_option| speed_option["mod"] }.map { |key, speed_option| [speed_option["name"], [speed_option["name"],speed_option["mod"]]] }, [@options["land"]["terrain"]["default"]["name"], @options["land"]["terrain"]["default"]["mod"]].to_s), {}, class: 'form-select me-2 land' %>
        <%= form.select :"step[0][terrain][sea]", options_for_select(@options["sea"]["terrain"].sort_by { |key, speed_option| speed_option["mod"] }.map { |key, speed_option| [speed_option["name"], [speed_option["name"],speed_option["mod"]]] }, [@options["sea"]["terrain"]["default"]["name"], @options["sea"]["terrain"]["default"]["mod"]].to_s), {}, class: 'form-select me-2 sea d-none', disabled: true %>

        <%= form.label :speed, class: 'input-group-text' %>
        <%= form.select :"step[0][speed]", options_for_select(@options["land"]["travel_speed"].sort_by { |key, speed_option| speed_option["mod"] }.map { |key, speed_option| [speed_option["name"], [speed_option["name"],speed_option["mod"]]] }, [@options["land"]["travel_speed"]["default"]["name"], @options["land"]["travel_speed"]["default"]["mod"]].to_s), {}, class: 'form-select me-2 land' %>
        <%= form.select :"step[0][speed]", options_for_select(@options["sea"]["travel_speed"].sort_by { |key, speed_option| speed_option["mod"] }.map { |key, speed_option| [speed_option["name"], [speed_option["name"],speed_option["mod"]]] }, [@options["sea"]["travel_speed"]["default"]["name"], @options["sea"]["travel_speed"]["default"]["mod"]].to_s), {}, class: 'form-select me-2 sea d-none' %>

        <%= form.label :obstacle, class: 'input-group-text' %>
        <%= form.select :"step[0][obstacle][land]",
          options_for_select(@options["land"]["obstacles"].sort_by { |key, speed_option| speed_option["mod"] }.map { |key, speed_option| [speed_option["name"], [speed_option["name"],speed_option["mod"]]] }),
          {include_blank: true},
          class: 'form-select me-2 land' %>
        <%= form.select :"step[0][obstacle][sea]",
          options_for_select(@options["sea"]["obstacles"].sort_by { |key, speed_option| speed_option["mod"] }.map { |key, speed_option| [speed_option["name"], [speed_option["name"],speed_option["mod"]]] }),
          {include_blank: true},
          class: 'form-select me-2 sea d-none', disabled: true %>
      </div>
    </div>

    <div class="input-group mb-3 w-auto">
      <%= form.button t('.add_step'), class: "btn btn-success", id: "add_step", type: "button" %>
    </div>

    <%= form.submit t('.calculate'), class: "btn btn-primary", id: "calculate" %>
  <% end %>
</div>
