<% provide(:title, @tool.title) %>
<% provide(:icon, @tool.icon_url) %>

<div class="tool-title d-none d-sm-block">
  <i class="white <%= yield(:icon) %>"></i>
  <%= yield(:title) %>
</div>

<div id="result" class="d-none"></div>

<div class="container">
  <%= form_with url: travel_calculate_path, local: false do |form| %>
    <!-- Form Fields: From and To -->
    <div class="row mb-3">
      <div class="col-12 col-md-6 mb-3">
        <div class="input-group">
          <%= form.label :from, class: 'input-group-text' %>
          <%= form.text_field :from, class: 'form-control ui-autocomplete-input auto-source', data: {autocomplete_source: locations_list_path} %>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="input-group">
          <%= form.label :to, class: 'input-group-text' %>
          <%= form.text_field :to, class: 'form-control ui-autocomplete-input auto-source', data: {autocomplete_source: locations_list_path} %>
        </div>
      </div>
    </div>

    <!-- Form Fields: Size and Army Type -->
    <div class="row mb-3">
      <div class="col-12 col-md-6 mb-3">
        <div class="input-group">
          <%= form.label :size, class: 'input-group-text' %>
          <%= form.number_field :size, class: 'form-control', min: 0, step: 1 %>
        </div>
      </div>
      <div class="col-6 col-md-2 mb-3">
        <div class="input-group">
          <div class="input-group-text"><%= t('helpers.label.size_mod') %></div>
          <div id="size_mod" class="form-control text-center"></div>
        </div>
      </div>
    </div>

    <!-- Steps Section -->
    <div id="steps" class="mb-3">
      <div id="step_0" class="row step ms-1">
        <div class="col-12 col-md-2 mb-3">
          <div class="input-group">
            <%= form.label :hex, class: 'input-group-text' %>
            <%= form.number_field "step[0][hex]", class: 'form-control', min: 0, step: 1 %>
          </div>
        </div>
        <div class="col-12 col-md-3 mb-3">
          <div class="input-group">
            <%= form.label :terrain, class: 'input-group-text' %>
            <%= form.select :"step[0][terrain]", options_for_select(@terrain.map { |t| [t["name"], [t["name"], t["mod"]]] }), {}, class: 'form-select' %>
          </div>
        </div>
        <div class="col-12 col-md-3 mb-3">
          <div class="input-group">
            <%= form.label :speed, class: 'input-group-text' %>
            <%= form.select :"step[0][speed]", options_for_select(@speed.map { |s| [s["name"], [s["name"], s["mod"]]] }), {}, class: 'form-select' %>
          </div>
        </div>
        <div class="col-11 col-md-3 mb-3">
          <div class="input-group">
            <%= form.label :obstacle, class: 'input-group-text' %>
            <%= form.select :"step[0][obstacle]", options_for_select(@obstacles.map { |o| [o["name"],[o["desc"], o["hex"]]] }), {include_blank: true}, class: 'form-select' %>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Step Button and Submit Button -->
    <div class="mb-3">
      <%= form.button t('.add_step'), class: "btn btn-success", id: "add_step", type: "button" %>
    </div>

    <div class="mb-3">
      <%= form.submit t('.calculate'), class: "btn btn-primary", id: "calculate" %>
    </div>
  <% end %>
</div>

<script>
  <%= render partial: 'step', formats: [:js] %>
</script>
