<div class="table-responsive">
  <table id="recipe_list" class="table table-dark table-striped table-borderless table-hover table-sm align-middle sortable">
    <caption><%= @tool.title %></caption>
    <thead>
      <tr>
        <th scope="col"><%= t('activerecord.attributes.recipe.name') %></th>
        <th scope="col"><%= t('activerecord.attributes.recipe.section') %></th>
        <th scope="col"><%= t('activerecord.attributes.recipe.speed') %></th>
        <th scope="col"><%= t('activerecord.attributes.recipe.difficulty') %></th>
        <th scope="col" data-sorter="false"><%= t('activerecord.attributes.recipe.description') %></th>
        <th scope="col" data-sorter="false"><%= t('activerecord.attributes.recipe.game_ids') %></th>
        <th scope="col" colspan="2" data-sorter="false"></th>
      </tr>
    </thead>
    <tbody>
      <% @recipes.where(section: section).each do | recipe | %>
        <tr id="recipe_row_<%= recipe.id.to_s %>" class="recipe_<%= recipe.id %> <%= recipe.active ? '': 'toggle-visibility inactive d-none' %>">
          <%= render 'row', recipe: recipe %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
