<!-- Scaffold for basic tools -->

<% provide(:title, @tool.title) %>
<% provide(:icon, @tool.icon_url) %>

<div class="tool-title">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %>

    <% if @options_missions["traits"].present? %>
      <%= render 'missions/rules' %>
    <% end %>
</div>

<div class="row my-3">
  <div class="col">
    <% if @current_user&.is_master? %>
      <%= link_to new_recipe_path, class: "btn btn-primary", remote: true do %>
        <i class="bi bi-plus-circle"></i> <%= t('helpers.submit.create', model: t('activerecord.models.' + @tool.name.singularize, count: 1) ) %>
      <% end %>
    <% end %>

    <%= button_tag t('helpers.label.toggle_display_' + @not_view), type: "button", class: "btn btn-secondary", id: "change_view", data: { view: @view, view_name: t('helpers.label.toggle_display_' + @view)} %>
    <div class="float-end">
      <button id="toggle_visibility_visible" class="btn btn-warning btn-sm toggle-visibility-button"> <%= t('helpers.label.toggle_visibility_visible') %></button>
      <button id="toggle_visibility_invisible" class="btn btn-warning btn-sm d-none toggle-visibility-button"><%= t('helpers.label.toggle_visibility_invisible') %></button>
    </div>
  </div>
</div>

<div class="view <%= @view == 'cards' ? '' : 'd-none' %>">
  <%= render "recipes_board" %>
</div>
<div class="view <%= @view == 'table' ? '' : 'd-none' %>">
  <%= render "recipes_table" %>
</div>
