<div class="table-responsive">
  <table id="family_list" class="table table-dark table-striped table-borderless table-hover table-sm align-middle sortable">
    <caption><%= @tool.title %></caption>
    <thead>
      <% if @current_user&.is_master? && @options_families["loyalties"].present? %>
        <tr>
          <th data-sorter="false" scope="col" colspan="<%= @options_families["subtools"]["tags"].present? ? "6" : "5" %>"></th>
          <th data-sorter="false" scope="col" colspan="<%= @options_families["loyalties"].length %>" class="text-center" style="line-height: 0"><%= t('activerecord.attributes.family.loyalty') %></th>
          <%= @options_families["subtools"]["armies"].present? ? '<th data-sorter="false" scope="col"></th>'.html_safe : nil %>
          <%= @options_families["subtools"]["tiers"].present? ? '<th data-sorter="false" scope="col"></th>'.html_safe : nil %>
          <th data-sorter="false" scope="col" colspan="<%= @current_user&.is_admin? ? "4" : "3" %>"></th>
        </tr>
      <% end %>
      <tr>
        <% if @current_user&.is_master? %>
          <th data-sorter="false" data-filter="checkbox" scope="col"><input type="checkbox" class="checkbox_select_all option-input" data-checkbox="families" /><span class="d-none"><%= t('activerecord.attributes.family.selected') %></span></th>
        <% end %>
        <th scope="col"><%= t('activerecord.attributes.family.name') %></th>
        <% if @options_families["subtools"]["tags"] %>
          <th scope="col"><%= t('activerecord.attributes.family.tags') %></th>
        <% end %>
        <th scope="col"><%= t('activerecord.attributes.family.lord_id') %></th>
        <th scope="col"><%= t('activerecord.attributes.family.faction_id') %></th>
        <th scope="col" data-sorter="false"><%= t('activerecord.attributes.family.description') %></th>
        <% if @current_user&.is_master? %>
          <% @options_families["loyalties"].each do |value| %>
            <th scope="col" class="text-center"><%= truncate(value, length: 3, omission: '') %></th>
          <% end %>
          <% if @options_families["subtools"]["armies"] %>
            <th scope="col"><%= t('activerecord.models.army.other') %></th>
          <% end %>
          <% if @options_families["subtools"]["tiers"] %>
            <th scope="col"><%= t('activerecord.attributes.family.tier') %></th>
          <% end %>
          <th scope="col" class="text-center sorter-bootstrap-icons">Visible</th>
        <% end %>
        <% if @current_user&.is_admin? %>
          <th scope="col">Partida</th>
        <% end %>
        <th scope="col" colspan="2" data-sorter="false"></th>
      </tr>
    </thead>
    <tbody>
      <% @families.each do | family | %>
        <tr id="family_<%= family.id.to_s %>" class="<%= (family.visible && family.game == active_game) ? nil : 'inactive toggle-visibility d-none'%>">
          <%= render 'row', family: family %>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
