<div class="table-responsive">
  <table id="family_list" class="table table-dark table-striped table-borderless table-hover table-sm align-middle sortable">
    <caption><%= @tool.title %></caption>
    <thead>
      <tr>
        <% if @current_user&.is_master? %>
          <th data-sorter="false" data-filter="checkbox" scope="col"><input type="checkbox" class="checkbox_select_all option-input" /><span class="d-none"><%= t('activerecord.attributes.family.selected') %></span></th>
        <% end %>
        <th scope="col"><%= t('activerecord.attributes.family.name') %></th>
        <th scope="col"><%= t('activerecord.attributes.family.tags') %></th>
        <th scope="col"><%= t('activerecord.attributes.family.lord_id') %></th>
        <th scope="col"><%= t('activerecord.attributes.family.faction_id') %></th>
        <th scope="col" data-sorter="false"><%= t('activerecord.attributes.family.description') %></th>
        <% if @current_user&.is_master? %>
          <% @options["loyalties"].each do |value| %>
            <th scope="col"><%= t('activerecord.attributes.family.loyalty') %> <%= value %></th>
          <% end %>
          <th scope="col" colspan="3" data-bs-toggle="tooltip" data-bs-placement="left" title="HP alzados de HP totales leva (sangrado). HP muertos">Ejércitos</th>
          <th scope="col" class="text-center sorter-bootstrap-icons">Visible</th>
        <% end %>
        <% if @current_user&.is_admin? %>
          <th scope="col">Partida</th>
        <% end %>
        <th scope="col" colspan="2" data-sorter="false"></th>
      </tr>
    </thead>
    <tbody>
      <% @families.each do | family | %>
        <tr id="family_<%= family.id.to_s %>" class="<%= family.visible ? nil : 'toggle-visibility d-none'%>">
          <%= render 'row', family: family %>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
