<div class="modal fade" id="familyModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
      <%= form_with model: family do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="Title"><%= family&.title %></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <%= form.label :name, class: 'input-group-text' %>
            <%= form.text_field :name, class: 'form-control' %>
          </div>
          <% if @options["tags"] != "false" %>
            <div class="input-group mb-3">
              <%= form.label :tags, class: 'input-group-text' %>
              <%= form.select :tags,
                options_for_select(
                  @options["tags"].map { | tag |
                    [
                      tag,
                      { "data-content": "<span class='badge rounded-pill pill-tags bg-success'><span class='pill-tags-text'>#{tag}</span></span>".html_safe
                    }
                    ]
                  },
                  selected: family.tags
                ),
                { include_blank: false },
                class: 'selectpicker flex-fill dropdown-toggle-custom dropdown-toggle-text-color bg-white',
                title: 'Sin etiquetas',
                multiple: true,
                data: {
                        "arbitrary": "true",
                        }
              %>
            </div>
          <% end %>
          <div class="input-group mb-3">
            <%= form.label :branch, class: 'input-group-text' %>
            <%= form.text_field :branch, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <%= form.label :description, class: 'input-group-text' %>
            <%= form.text_area :description, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <%= form.label :lord_id, class: 'input-group-text' %>
            <%= form.select :lord_id, [""] + Family.all.order(visible: :desc, game_id: :asc, name: :asc).map { |x| [x.title, x.id] }, {}, class: 'form-select' %>
          </div>
          <div class="input-group mb-3">
            <%= form.label :visible, class: 'input-group-text' %>
            <div class="form-check form-switch switch-group fs-2">
              <%= form.check_box :visible, class: 'form-check-input switch-group h-100' %>
            </div>
          </div>
          <div class="input-group mb-3">
            <%= form.label :game_id, class: 'input-group-text' %>
            <%= form.select :game_id, Game.all.order(active: :desc, name: :asc).map { |x| [x.title, x.id] }, {}, class: 'form-select' %>
          </div>
          <div class="input-group mb-3">
            <%= form.label :faction_id, class: 'input-group-text' %>
            <%= form.select :faction_id, [""] + Faction.all.order(active: :desc, long_name: :asc).map { |x| [x.long_name, x.id] }, {}, class: 'form-select' %>
          </div>

          <%= form.submit nil, class: 'btn btn-primary' %>
        </div>
      <% end %>
  </div>
</div>
