<div class="modal fade" id="familyModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="Title"><%= family.title %></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if !(family.game == active_game && family.visible == true) %>
          <div class="alert alert-danger">Esta familia no está activa en la partida</div>
        <% end %>
        <p><strong>Nombre:</strong> <%= family.name %></p>
        <%= family.branch.blank? ? '' : '<p><strong>Rama:</strong> '.html_safe + family.branch + '</p>'.html_safe %>
        <p>
          <% family.tags.each do | tag | %>
            <span class="badge rounded-pill pill-tags pill-tags-text bg-success"><%= tag %></span>
          <% end %>
        </p>
        <p><strong>Señor:</strong> <%= family.lord.nil? ? '' : link_to(family.lord.name, family_path(family.lord.id), remote: true, class: 'text-white') %></p>
        <p><strong>Facción:</strong> <%= family.faction&.long_name.nil? ? ' ' : link_to(family.faction.long_name, faction_path(family.faction.id), remote: true, class: 'text-white') %></p>

        <% if family.description.present? %>
          <p>
            <a class="link-unstyled" data-bs-toggle="collapse" href="#collapseDesc" role="button" aria-expanded="false" aria-controls="collapseDesc">
              <i class="bi bi-plus-circle"></i> <strong>Descripción:</strong>
            </a>
          </p>
          <div class="collapse" id="collapseDesc">
            <%= simple_format(family.description) %>
          </div>
        <% end %>
        <% if family.members.present? %>
          <p>
            <a class="link-unstyled" data-bs-toggle="collapse" href="#collapseMembers" role="button" aria-expanded="false" aria-controls="collapseMembers">
              <i class="bi bi-plus-circle"></i> <strong>Miembros:</strong>
            </a>
          </p>
          <div class="collapse" id="collapseMembers">
            <%= simple_format(family.members) %>
          </div>
        <% end %>
        <% if @vassals.present? %>
          <p>
            <a class="link-unstyled" data-bs-toggle="collapse" href="#collapseVassals" role="button" aria-expanded="false" aria-controls="collapseVassals">
              <i class="bi bi-plus-circle"></i> <strong>Vasallos:</strong>
            </a>
          </p>
          <div class="collapse" id="collapseVassals">
            <% @vassals.each do | vassal | %>
              <p class="ms-2">
                — <%= link_to(vassal.title, family_path(vassal.id), remote: true, class: 'text-white') %>
                <% vassal.tags.each do | v_tag | %>
                  <span class="badge rounded-pill pill-tags pill-tags-text bg-success"><%= v_tag %></span>
                <% end %>
              </p>
            <% end %>
          </div>
        <% end %>
        <% if @locations.present? %>
          <p>
            <a class="link-unstyled" data-bs-toggle="collapse" href="#collapseLocations" role="button" aria-expanded="false" aria-controls="collapseLocations">
              <i class="bi bi-plus-circle"></i> <strong>Lugares:</strong>
            </a>
          </p>
          <div class="collapse" id="collapseLocations">
            <% @locations.each do | location | %>
              <p class="ms-2">— <%= link_to(location.name, location_path(location.id), remote: true, class: 'text-white') %></p>
            <% end %>
          </div>
        <% end %>
        <% if @relations.present? %>
          <p>
            <a class="link-unstyled" data-bs-toggle="collapse" href="#collapseRelations" role="button" aria-expanded="false" aria-controls="collapseLocations">
              <i class="bi bi-plus-circle"></i> <strong>Relaciones:</strong>
            </a>
          </p>
          <div class="collapse" id="collapseRelations">
            <% @relations.each do | family | %>
              <p class="ms-2">— <%= link_to(family.title, family_path(family.id), remote: true, class: 'text-white') %> : <%= snippet_for_members(family, @family.name) %></p>
            <% end %>
          </div>
        <% end %>
        <% if @current_user.is_master? %>
          <% if @family.armies.present? %>
            <div class="h4">Ejércitos</div>
            <div class="row ms-1">
              <% @army_options["status"]&.sort_by { |_, v| v["sort"] }.to_h.each do | key, status | %>
                <div class="col">
                  <i class="bi bi-<%= status['icon'] %>"></i>
                  HP <%= status["name"] %> :
                  <%= @family.hp(key) %>
                </div>
              <% end %>
            </div>
            <div class="row ms-1 mt-1 h5">
              HP iniciales
            </div>
            <div class="row ms-1 mb-1">
              <% @army_options["army_type"]&.sort_by { |_, v| v["sort"] }.to_h.each do | key, status | %>
                <% if family.hp_start(key) != 0 %>
                  <div class="col">
                    <i class="bi bi-<%= status['icon'] %>"></i>
                    HP <%= status["name"] %> :
                    <%= @family.hp_start(key) %>
                  </div>
                <% end %>
              <% end %>
              <div class="col">
                HP total :
                <%= @family.hp_start('all') %>
              </div>
            </div>
            <div class="row ms-1 mt-1 h5">
              Lista
            </div>
            <% @family.armies.order(:name).each do | army | %>
              <div class="row ms-1">
                <div class="col <%= army.status %>">
                  <%= link_to(army.name, edit_army_path(army.id), remote: true, class: 'text-white') %>
                  <%= army.position.blank? ? '' : 'en ' + army.position %>
                  (<%= @army_options["status"][army.status]["name"] %>)
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
