<div class="modal fade" id="familyModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="Title"><%= family.title %></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if !(family.game == active_game && family.visible == true) %>
          <div class="alert alert-danger">Esta familia no está activa en la partida</div>
        <% end %>
        <p><strong>Nombre:</strong> <%= family.name %></p>
        <%= family.branch.blank? ? '' : '<p><strong>Rama:</strong> '.html_safe + family.branch + '</p>'.html_safe %>
        <p>
          <% family.tags.each do | tag | %>
            <span class="badge rounded-pill pill-tags pill-tags-text bg-success"><%= tag %></span>
          <% end %>
        </p>
        <p><strong>Señor:</strong> <%= family.lord&.name %></p>
        <p><strong>Facción:</strong> <%= family.faction&.long_name.nil? ? ' ' : link_to(family.faction.long_name, 'factions?id=' + family.faction.id.to_s, class: 'text-white') %></p>
        <p><%= simple_format(family.description) %></p>
        <% if @vassals.length > 0 %>
          <p><strong>Vasallos:</strong><p>
          <% @vassals.each do | vassal | %>
            <p class="ms-2">
              — <%= vassal.title %>
              <% vassal.tags.each do | v_tag | %>
                <span class="badge rounded-pill pill-tags pill-tags-text bg-success"><%= v_tag %></span>
              <% end %>
            </p>
          <% end %>
        <% end %>
        <% if @locations.length > 0 %>
          <p><strong>Lugares:</strong><p>
          <% @locations.each do | location | %>
            <p class="ms-2">— <%= location.name %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
