<% provide(:title, @tool.title) %>
<% provide(:icon, @tool.icon_url) %>

<div class="tool-title">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %>
</div>

<div class="row my-3">
  <div class="col">
    <% if @current_user&.is_master? %>
      <%= link_to new_family_path, class: "btn btn-primary", remote: true do %>
        <i class="bi bi-plus-circle"></i> <%= t('helpers.submit.create', model: t('activerecord.models.' + @tool.name.singularize, count: 1) ) %>
      <% end %>

      <%= form_tag(edit_multiple_families_path, method: :get, id: 'edit_multiple', remote: true) do %>
        <%= button_tag(type: 'submit', class: "btn btn-danger btn-sm d-none", value: "import") do %>
          <%= t('helpers.submit.import') %>
        <% end %>
      <% end %>

      <%= button_to t('helpers.submit.export_selected'), export_families_path(format: :csv), class: 'btn btn-danger btn-sm mass_edit_button', method: :get, form: { class: 'd-inline' }, disabled: @selected_families.empty?, data: {checkbox: "families" } %>
      <button id="toggle_visibility_visible" class="btn btn-warning btn-sm toggle-visibility toggle-visibility-button"> <%= t('helpers.label.toggle_visibility_visible') %></button>
      <button id="toggle_visibility_invisible" class="btn btn-warning btn-sm d-none toggle-visibility toggle-visibility-button"><%= t('helpers.label.toggle_visibility_invisible') %></button>
    <% end %>
  </div>
  <div class="col">
    <div class="d-flex align-items-center justify-content-end">
      <%= select_tag "filter", options_for_select(@filter, t('activerecord.attributes.family.name')), class: "form-select form-select-sm me-2 filterSelect", data: { filter: "family" } %>
      <input class="form-control form-control-sm filterText" type="text" placeholder="Filtrar..." data-filter="family" >
    </div>
  </div>
</div>

<%= render "families_table" %>
