<div>
  <table class="table table-dark table-striped table-borderless table-hover table-sm table-responsive align-middle sortable">
    <caption>Lista de Herramientas</caption>
      <thead>
        <tr>
          <th scope="col" style="width: 25px"></th>
          <th scope="col">Herramienta</th>
          <th scope="col">Rol</th>
          <th scope="col">Partidas</th>
          <th scope="col">Opciones</th>
          <th scope="col" class="text-center" style="width: 75px">Activa</th>
          <th scope="col" colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @tools.each do |tool| %>
          <tr class="<%= tool.active == true ? "" : "active" %>" >
            <td><i class="<%= tool.icon_url %>"></i></td>
            <td><%= tool.title %></td>
            <td><%= tool.role %></td>
            <td><%= tool.active_games.pluck(:title).join(", ") %></td>
            <td><%= ( tool.game_tools.find_by(game_id: active_game&.id)&.options&.to_json )%></td>             
            <td class="text-center">
              <% if tool.active == true  %>
                <i class="bi bi-check-lg"></i>
              <% else %>
                <i class="bi bi-x-lg"></i>
              <% end %>
            </td>
            <td>
              <%= link_to edit_tool_path(tool), remote: true do %>
                <i class="bi bi-pencil-square text-white"></i>
              <% end %>
            </td>
            <td>
              <%= link_to tool_path(tool), method: :delete, data: { confirm: "Estás seguro de eliminar la herramienta #{tool.name}?" }, remote: true do %>
                <i class="bi bi-trash text-white"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
