<% provide(:title, @tool.title) %>
<% provide(:icon, @tool.icon_url) %>

<div class="tool-title">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %>
</div>

<div>
  <p><%= active_game.title %></p>
</div>

<div>
  <table class="table table-dark table-striped table-borderless table-hover table-sm table-responsive align-middle sortable">
    <caption>Lista de Partidas</caption>
      <thead>
        <tr>
          <th scope="col" style="width: 25px"></th>
          <th scope="col">Partida <i class="fas fa-sort"></i></th>
          <th scope="col">Prefijo <i class="fas fa-sort"></i></th>
          <th scope="col" class="sorter-font-awesome">Herramientas <i class="fas fa-sort"></i></th>
          <th scope="col" class="sorter-font-awesome" style="width: 75px">Activa <i class="fas fa-sort"></i></th>
          <th scope="col" colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% @games.each do |game| %>
          <tr class="<%= game.active == true ? "" : "active" %>" >
            <td><%= image_tag(game.icon_url, :alt => game.name, id: game.name, class: 'icon-table') %></td>
            <td><%= game.title %></td>
            <td><%= game.prefix %></td>
            <td><%= game.tool.pluck(:title).join(", ") %></td>
            <td class="text-center">
              <% if game.active == true  %>
                <i class="bi bi-check-lg"></i>
              <% else %>
                <i class="bi bi-x-lg"></i>
              <% end %>
            </td>
            <td>
              <%= link_to game_path(game), remote: true do %>
                <i class="bi bi-pencil-square text-white"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>

<!-- Modal -->

<div id='game-content'></div>
<div id='tool-content'></div>
