<% provide(:title, @tool.title) %>
<% provide(:icon, @tool.icon_url) %>

<div class="tool-title">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %>
</div>

<div class="card bg-dark mb-3">
  <div class="card-body">
    <% if @active_game.nil?%>
      <%= form_with url: setup_game_url, local: false do |form| %>
        <%= form.select :id,
          options_for_select(
            @games.pluck(:id, :title, :icon_url).map { | id, title, icon_url |
              [
                id,
                {
                  "data-content": image_tag(icon_url, :alt => title, id: title, class: 'icon-table bg-dark') + " " + title
                }
              ]
            },
            selected: nil
          ),
          { include_blank: false },
          class: 'selectpicker flex-fill dropdown-toggle-custom game-select',
          title: 'Elige partida para preparar',
          data: { "style": "btn-danger btn-game-select" }
        %>
        <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg' do %>
          <i class="bi bi-controller"></i> Preparar partida
        <% end %>
      <% end %>
    <% else %>
      <%= form_with url: unset_active_game_url, remote: true do |form| %>
        <%= image_tag(@active_game.icon_url, :alt => @active_game.title, id: @active_game.title, class: 'icon-table bg-dark') + " " + @active_game.title %>
        <%= form.submit "Terminar partida", class: "btn btn-danger" %>
        <% end %>
      <% end %>
  </div>
</div>

<div class="mt-2">
  <%= link_to new_game_path, class: "btn btn-primary", remote: true do %>
    <i class="bi bi-plus-circle"></i> Crear Nueva Partida
  <% end %>
</div>

<%= render 'games_table' %>

<div class="mt-2">
  <%= link_to new_tool_path, class: "btn btn-primary", remote: true do %>
    <i class="bi bi-plus-circle"></i> Crear Nueva Herramienta
  <% end %>
</div>

<%= render 'tools_table' %>

<!-- Modal -->

<div id='game-content'></div>
<div id='tool-content'></div>
