<div class="table-responsive">
  <table class="table table-dark table-striped table-borderless table-hover table-sm align-middle sortable">
    <caption>Lista de Facciones</caption>
      <thead>
        <tr>
          <th scope="col" style="width: 25px" data-sorter="false"></th>
          <th scope="col">Nombre</th>
          <th scope="col" style="width: 50px">Miembros</th>
          <% if @current_user&.is_master? %>
            <th scope="col">Partidas</th>
          <% else %>
            <th scope="col">Descripcción</th>
          <% end %>
          <% if @options["reputation"] %>
            <th scope="col">Reputación</th>
          <% end %>
          <% if @current_user&.is_master? %>
            <th scope="col" class="text-center" data-sorter="false">Activa</th>
          <% end %>
          <th scope="col" colspan="2" data-sorter="false"></th>
        </tr>
      </thead>
      <tbody>
        <% @factions.each do |faction| %>
          <tr id="faction_<%= faction.id.to_s %>" class="<%= faction.active == true ? "" : "inactive" %>" >
            <td><%= image_tag(faction.flair_url, :alt => faction.long_name, id: faction.name, class: 'icon-table') if faction.flair_url.present? %></td>
            <td>
              <blockquote class="blockquote">
                <p><%= link_to faction.long_name, faction_path(faction), remote: true, class: 'link-unstyled' %></p>
              </blockquote>
              <% if faction.long_name != faction.title %>
                <figcaption class="blockquote-footer">
                  <%= faction.title %>
                </figcaption>
              <% end %>
            </td>
            <td><%= truncate(faction.users.order(:player).pluck(:player).join(", "), length: 100, omission: '...') %></td>
            <% if @current_user&.is_master? %>
              <td><%= faction.games.order(:id).pluck(:name).map(&:titleize).join(", ") %></td>
            <% else %>
              <td><%= truncate(faction.description, length: 100, omission: '...') %></td>
            <% end %>
            <% if @options["reputation"] %>
              <td>
                <span id="rep_<%= faction.id %>"><%= number_to_modifier(calculate_mod(faction.reputation)) %></span>
                <% if @current_user&.is_master? %>
                  (<%= faction.reputation.to_i %>)
                  <%= form_with(model: faction, url: reputation_path(faction), method: :post, local: false) do |form| %>
                    <%= button_tag(type: 'submit', class: 'btn btn-outline-success', value: '1') do %>
                      <i class="bi bi-hand-thumbs-up-fill"></i>
                    <% end %>
                    <%= button_tag(type: 'submit', class: 'btn btn-outline-danger', value: '-1') do %>
                      <i class="bi bi-hand-thumbs-down-fill"></i>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
            <% end %>
            <% if @current_user&.is_master? %>
              <td class="text-center">
                <% if faction.active == true  %>
                  <i class="bi bi-check-lg"></i>
                <% else %>
                  <i class="bi bi-x-lg"></i>
                <% end %>
              </td>
            <% end %>
            <td><%= link_to '', send('faction_path', faction.id), remote: true, class: 'bi bi-eye-fill text-white' %></td>
            <td>
              <% if @current_user&.is_master? %>
                <%= link_to '', send('edit_faction_path', faction.id), remote: true, class: 'bi bi-pencil-square text-white' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
