<div>
  <table class="table table-dark table-striped table-borderless table-hover table-sm table-responsive align-middle sortable">
    <caption>Lista de Facciones</caption>
      <thead>
        <tr>
          <th scope="col" style="width: 25px"></th>
          <th scope="col">Nombre</th>
          <th scope="col">Miembros</th>
          <th scope="col">Partidas</th>
          <th scope="col" class="text-center" style="width: 75px">Activa</th>
          <th scope="col" colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% @factions.each do |faction| %>
          <tr class="<%= faction.active == true ? "" : "inactive" %>" >
            <td><%= image_tag(faction.flair_url, :alt => faction.name, id: faction.name, class: 'icon-table') if faction.flair_url.present? %></td>
            <td>
              <blockquote class="blockquote">
                <p><%= faction.name %></p>
              </blockquote>
              <figcaption class="blockquote-footer">
                <%= faction.long_name %>
              </figcaption>
            </td>
            <td><%= faction.users.order(:player).pluck(:player).join(", ") %></td>
            <td><%= faction.games.order(:id).pluck(:name).map(&:titleize).join(", ") %></td>
            <td class="text-center">
              <% if faction.active == true  %>
                <i class="bi bi-check-lg"></i>
              <% else %>
                <i class="bi bi-x-lg"></i>
              <% end %>
            </td>
            <td>
              <%= link_to edit_faction_path(faction), remote: true do %>
                <i class="bi bi-pencil-square text-white"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
