<% provide(:title, @tool.title) %>
<% provide(:icon, @tool.icon_url) %>

<div class="tool-title">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %>
</div>

<% if @current_user&.is_admin? %>
  <%= link_to "Sincronizar Grupos", sync_groups_path, method: :post, class: 'btn btn-danger mb-3' %>
<% end %>

<%= render 'factions_table' %>

<!-- Modal -->

<div id='faction-content'></div>
<% if params[:id].present? %>
  <script>
    $(document).on('turbolinks:load', function() {
      $("#faction-content").html("<%= j render 'show', faction: Faction.find(params[:id]) %>");
      $("#factionModal").modal('show');
    });
  </script>
<% end %>
