<div class="modal fade" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
      <%= form_with model: game do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="Title"><%= game.title %></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text" id="name">Nombre</span>
            <%= form.text_field :name, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="prefix">Prefijo</span>
            <%= form.text_field :prefix, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="title">Título</span>
            <%= form.text_field :title, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="icon_url">Icono</span>
            <%= form.text_field :icon_url, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text w-100 bg-secondary" id="icon_url">Herramientas</span>
          </div>

          <% @tools.reject { |tool| tool.name == "settings" }.each do |tool| %>
            <div class="container row align-middle">
              <div class="form-check form-switch">
                <%= check_box_tag "game[tool_ids][]", tool.id, @game.tools.include?(tool), class: 'form-check-input', role: 'switch' %>
                <%= form.label :options, tool.title, class: 'form-check-label' %>
                <%= form.text_field :tool_options, value: tool.options.to_s, class: 'form-control w-50 float-end' %>
              </div>
            </div>
          <% end %>

          <%= form.submit nil, class: 'btn btn-primary' %>
        </div>
      <% end %>
  </div>
</div>
