<div class="modal fade" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-dark text-light">
      <%= form_with model: game do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="Title"><%= game.title %></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <%= form.label :name, class: 'input-group-text' %>
            <%= form.text_field :name, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <%= form.label :prefix, class: 'input-group-text' %>
            <%= form.text_field :prefix, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <%= form.label :title, class: 'input-group-text' %>
            <%= form.text_field :title, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <%= form.label :icon_url, class: 'input-group-text' %>
            <%= form.text_field :icon_url, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text w-100 bg-secondary" id="icon_url">Herramientas</span>
          </div>

          <%= form.fields_for :game_tools do |game_tool_form| %>
            <% unless game_tool_form.object.tool.role == 'admin' %>
              <div class="input-group mb-3">
                <div class="input-group-text">
                  <%= game_tool_form.label nil, game_tool_form.object.tool.title %>
                </div>
                <div class="form-check form-switch switch-group fs-2">
                   <%= game_tool_form.check_box :active, class: 'form-check-input switch-group h-100', role: 'switch' %>
                </div>
                <div class="input-group">
                  <%= game_tool_form.text_area :options,
                        value: JSON.pretty_generate(game_tool_form.object.options),
                        rows: game_tool_form.object.options.nil? ? 1 : 10,
                        class: 'form-control float-end',
                        "data-bs-toggle": "tooltip",
                        "data-bs-html": "true",
                        "title": ( game_tool_form.object.tool.options_info&.then { |info| Kramdown::Document.new(info).to_html } || '').html_safe
                         %>
                </div>
              </div>
            <% end %>
          <% end %>

          <%= form.submit nil, class: 'btn btn-primary' %>
        </div>
      <% end %>
  </div>
</div>
