<div class="modal fade" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
      <%= form_with model: game do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="Title"><%= game.title %></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text" id="name">Nombre</span>
            <%= form.text_field :name, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="prefix">Prefijo</span>
            <%= form.text_field :prefix, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="title">Título</span>
            <%= form.text_field :title, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="icon_url">Icono</span>
            <%= form.text_field :icon_url, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text w-100 bg-secondary" id="icon_url">Herramientas</span>
          </div>

          <% @tools.reject { |tool| tool.name == "settings" }.each do |tool| %>
              <div class="input-group mb-3">
                <div class="input-group-text">
                  <%= form.label :options_info, tool.title, class: '' %>
                </div>
                <div class="form-check form-switch switch-group fs-2">
                  <%= check_box_tag "game[tool_ids][]", tool.id, @game.tools.include?(tool), class: 'form-check-input switch-group h-100', role: 'switch' %>
                </div>
                <%= form.text_field :tool_options, value: tool.options.to_s, class: 'form-control float-end', "data-bs-toggle": "tooltip", "data-bs-html": "true", "title": (tool.options_info&.then { |info| Kramdown::Document.new(info).to_html } || '').html_safe %>
              </div>
          <% end %>

          <%= form.submit nil, class: 'btn btn-primary' %>
        </div>
      <% end %>
  </div>
</div>
