
<div class="card bg-dark text-white mb-3">
  <div class="card-body">
    <p>Hay <%= @all_armies.length %> <%= Army.model_name.human(:count => @all_armies.length).downcase %> en el mundo, con un total de <%= @all_armies.sum { |army| ( army.hp * @options["soldiers"].to_i / 100 ) } %> hombres y una fuerza de <%= @all_armies.sum { |army| army.strength } %></p>
    <p>De los cuales <%= @all_armies.where(status: ARMY_STATUS[0]).length %> están movilizados y <%= @all_armies.where(status: ARMY_STATUS[2]).length %> han sido aniquilados</p>
    <% if faction.armies.where(visible: true).length != 0 %>
      <p class="card-text">Dispones de <%= faction.armies.where(visible: true).length %> <%= Army.model_name.human(:count => faction.armies.where(visible: true).length).downcase %> con un total de <%= faction.armies.where(visible: true).sum { |army| ( army.hp * @options["soldiers"].to_i / 100 ) } %> hombres y una fuerza de <%= faction.armies.where(visible: true).sum { |army| army.strength } %>.</p>
    <% end %>
  </div>
</div>

<div class="table-responsive">
  <table id="army_list-<%= faction.name %>" class="table table-dark table-striped table-borderless table-hover table-sm sortable army_list">
      <caption>Lista de ejércitos</caption>
        <thead>
          <tr id="table_title-<%= faction.name %>">
            <th data-sorter="false" scope="col"><input type="checkbox" class="checkbox_select_all" /></th>
            <th scope="col" style="width: 78px"><i class="bi bi-award"></i></th>
            <th scope="col">Ejército</th>
            <th scope="col">Estado</th>
            <th scope="col">Rasgos</th>
            <th scope="col">Posición</th>
            <th scope="col">Grupo</th>
            <% if @current_user&.is_master? %>
              <th scope="col">Visibilidad</th>
            <% end %>
            <th scope="col" colspan="3" data-sorter="false"></th>
          </tr>
        </thead>
        <tbody id="table_body-<%= faction.name %>">
          <% @armies.each do |army| %>
            <%= render 'army_row', army: army, faction: faction %>
          <% end %>
        </tbody>
    </table>
</div>
