<% if !army.id.nil? %>
  <div id="result" class="card mb-3 border-primary bg-dark text-light">
    <div class="card-body">
      <div class="card-title">
        <button type="button" id="copy_army" class="btn-no-style text-light float-end me-1" aria-label="Copy" data-bs-toggle="tooltip" data-bs-placement="top" title="Copiar ejército">
          <i class="bi bi-clipboard2-fill"></i>
        </button>
      </div>
      <p class="card-text">
        <%= army&.name %> (<i class="bi bi-award"></i><%= army&.strength %>)

        <%= render 'army_traits', army: army %>

        <% if @current_user&.is_master? %>
          [id: #<%= sprintf('%04d', army.id) %>]
        <% end %>
      </p>

      <p class="card-text">
        Este ejército está compuesto por <%= army.men  %> hombres y tiene una fuerza de combate&nbsp;<i class="bi bi-award"></i><%= army.strength %>
      </p>

      <% men = @men.keys %>
      <% army.composition.each_with_index do | soldiers, index | %>
        <% if soldiers.nonzero? %>
          <p class="ms-3 card-text"><%= (soldiers * army.hp.to_f * 0.1).to_i %> <%= @men[men[index]]["name"] %></p>
        <% end %>
      <% end %>

      <div class="d-none" id="army-data">
        <%= render 'army_plain_txt', army: army %>
      </div>
    </div>
  </div>
<% end %>
