<tr id="army_<%= army.id %>" class="<%= army.status == 'Aniquilado' ? 'destroyed' : '' %><%= army.status == 'Movilizado' ? 'mobilized' : '' %>">
  <td><%= check_box_tag "army_ids[]", army.id, false, id: 'id_' + army.id.to_s,class: "checkbox_selectable" %></td>
  <td class="strenght" width = "50px"><%= army.strength %></td>
  <td width = "300px"><%= army.name %></td>
  <td><%= army.status %></td>
  <td width = "800px">
    <%= ((100 - army.hp) / @options["hp"]["step"])&.nonzero? ? ('<span class="badge rounded-pill pill-tags pill-tags-text bg-danger"><i class="bi bi-' + @options["hp"]["icon"] + '"></i> ' + @options["hp"]["name"].capitalize + " " + number_to_army_attribute(((army.hp - 100) / @options["hp"]["step"])) + '</span>').html_safe : nil %>
    <% @options["attributes"].each_with_index do | (key, value), index | %>
      <%= (army["col#{index}"]&.nonzero? ? ('<span class="badge rounded-pill pill-tags pill-tags-text bg-primary"><i class="bi bi-' + value["icon"] + '"></i> ' + value["name"].capitalize + " " + number_to_army_attribute(army["col#{index}"]) + '</span>').html_safe : nil ) %>
    <% end %>
    <% army.tags.each do | tag | %>
      <span class="badge rounded-pill pill-tags pill-tags-text bg-success"><i class="bi bi-<%= @options['tags'][tag]['icon'] %>"></i> <%= @options["tags"][tag]["name"].capitalize %></span>
    <% end %>
  </td>
  <td width = "500px">
    <%= form_with model: army, local: false do |form| %>
      <%= form.text_field :position, class: 'inline-edit-input form-control', "data-initialvalue": army.position %>
    <% end %>
  </td>

  <td>
    <%= form_with model: army, class: 'inline-edit-select', local: false do |form| %>
      <%= form.select :group,
        options_for_select(
          ARMY_GROUPS.map { | key, value |
            [
              key,
              { "data-content": "<span class='badge rounded-pill pill-tags pill-#{key} filter-value'><i class='bi bi-#{value[:icon]}'></i> <span class='pill-tags-text'>#{value[:name]}</span></span>".html_safe
            }
            ]
          },
          selected: army.group
        ),
        { include_blank: true },
        class: 'selectpicker flex-fill dropdown-toggle-custom',
        title: 'Sin agrupar',
        data: { style: 'btn-success' }
      %>
    <% end %>
  </td>

  <% if @current_user.is_master? %>
    <td width = "100px" class="text-center">
      <% if army.visible == true %>
        <%= army.factions.pluck(:name).join(",") %>
      <% else %>
        <i class="bi bi-x-lg text-danger"></i>
      <% end %>
    </td>
  <% end %>

  <td><%= link_to '', edit_army_path(army), remote: true, class: 'bi bi-pencil-square text-white' %></td>
  <td><%= link_to '', edit_notes_army_path(army), remote: true, class: army.notes.blank? ? 'bi bi-sticky text-white' : 'bi bi-sticky-fill text-warning' %></td>

  <td>
    <% if @current_user.is_master? %>
      <%= link_to army_path(army), method: :delete, data: { confirm: "Estás seguro de eliminar el ejército #{army.name}?" }, remote: true do %>
        <i class="bi bi-trash text-white"></i>
      <% end %>
    <% end %>
  </td>
</tr>
