<% if !army.id.nil? %>
  <div id="result" class="card mb-3 border-primary bg-dark text-white">
    <div class="card-body">
      <div class="card-title">
        <button type="button" id="copy_army" class="btn-no-style text-light float-end me-1" aria-label="Copy" data-bs-toggle="tooltip" data-bs-placement="top" title="Copiar ejército">
          <i class="bi bi-clipboard2-fill"></i>
        </button>
      </div>
      <p class="card-text">
        <%= army&.name %> (<i class="bi bi-award"></i><%= army&.strength %>)
        <%= ((100 - army.hp) / @options["hp"]["step"])&.nonzero? ? ('<span class="badge rounded-pill pill-tags pill-tags-text bg-danger me-1 mt-1"><i class="bi bi-' + @options["hp"]["icon"] + '"></i> ' + @options["hp"]["name"].capitalize + " " + number_to_modifier(((army.hp - 100) / @options["hp"]["step"])) + '</span>').html_safe : nil %>

        <% @attributes.each do | key, value | %>
          <%= (army["col#{value['sort']}"]&.nonzero? ? ('<span class="badge rounded-pill pill-tags pill-tags-text bg-primary me-1 mt-1"><i class="bi bi-' + value["icon"] + '"></i> ' + value["name"].capitalize + " " + number_to_modifier(army["col#{value['sort']}"]) + '</span>').html_safe : nil ) %>
        <% end %>

        <% if army.tags.present? %>
          <% army.tags.each do | tag | %>
            <% if @tags[tag] %>
              <span class="badge rounded-pill pill-tags pill-tags-text bg-<%= @tags[tag]['colour'] %> me-1 mt-1"><i class="bi bi-<%= @tags[tag]['icon'] %>"></i> <%= @tags[tag]["name"].capitalize %></span>
            <% else %>
              <span class="badge rounded-pill pill-tags pill-tags-text bg-danger %> me-1 mt-1"><%= tag.capitalize %></span>
            <% end %>
          <% end %>
          <% if @current_user&.is_master? %>
            [id: #<%= sprintf('%04d', army.id) %>]
          <% end %>
        <% end %>
      </p>
      <div class="d-none" id="army-data">
        <% traits = [] %>
        <% ((100 - army.hp) / @options["hp"]["step"])&.nonzero? ? traits << (@options["hp"]["name"].capitalize + " " + number_to_modifier(((army.hp - 100) / @options["hp"]["step"]))).html_safe : nil %>
        <% @attributes.each do | key, value | %>
          <% (army["col#{value['sort']}"]&.nonzero? ? traits << (value["name"].capitalize + " " + number_to_modifier(army["col#{value['sort']}"])).html_safe : nil ) %>
        <% end %>
        <% if army.tags.present? %>
          <% army.tags.each do | tag | %>
            <% if @tags[tag] %>
              <% traits << @tags[tag]["name"].capitalize %>
            <% else %>
              <% traits << tag.capitalize %>
            <% end %>
          <% end %>
        <% end %>
        <%= army.name %> (<%= army.status %>)<%= army.position.blank? ? nil : ", en #{army.position} " %><%= army.group.blank? ? nil : "grupo " + ARMY_GROUPS[army.group.to_sym][:name].upcase %> <%= traits.blank? ? nil : "[" + traits.join(", ") + "] " %>FUE: <%= army.strength %>
      </div>
    </div>
  </div>

  <div class="input-group mb-3">
    Este ejército está compuesto por <%= (@options["soldiers"] * ( army.hp.to_f / 100)).to_i %> hombres y tiene una fuerza de combate&nbsp;<i class="bi bi-award"></i><%= army.strength %>
  </div>
<% end %>
