<div class="modal fade" id="armyModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-dark">
      <%= form_with model: army do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="Title"><%= army&.name %></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'army_data', army: army %>

          <div class="input-group mb-3">
            <%= form.label :name, class: 'input-group-text' %>
            <%= form.text_field :name, class: 'form-control', disabled: !@current_user.is_master? %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :status, class: 'input-group-text' %>
            <%= form.select :status, ARMY_STATUS, {}, class: 'form-select', disabled: (army.status == 'Aniquilado') %>
          </div>

          <div class="input-group mb-1 d-flex justify-content-between align-items-center">
            <%= form.label :tags, class: 'input-group-text w-100' %>
          </div>

          <div class="input-group mb-3">
            <%= ((100 - army.hp) / @options["hp"]["step"])&.nonzero? ? ('<span class="badge rounded-pill pill-tags pill-tags-text bg-danger me-1 mt-1"><i class="bi bi-' + @options["hp"]["icon"] + '"></i> ' + @options["hp"]["name"].capitalize + " " + number_to_army_attribute(((army.hp - 100) / @options["hp"]["step"])) + '</span>').html_safe : nil %>

            <% @options["attributes"].each_with_index do | (key, value), index | %>
              <%= (army["col#{index}"]&.nonzero? ? ('<span class="badge rounded-pill pill-tags pill-tags-text bg-primary me-1 mt-1"><i class="bi bi-' + value["icon"] + '"></i> ' + value["name"].capitalize + " " + number_to_army_attribute(army["col#{index}"]) + '</span>').html_safe : nil ) %>
            <% end %>

            <% army.tags.each do | tag | %>
              <span class="badge rounded-pill pill-tags pill-tags-text bg-success me-1 mt-1"><i class="bi bi-<%= @options['tags'][tag]['icon'] %>"></i> <%= @options["tags"][tag]["name"].capitalize %></span>
            <% end %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :position, class: 'input-group-text' %>
            <%= form.text_field :position, class: 'form-control' %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :group, class: 'input-group-text' %>
            <%= form.select :group,
              options_for_select(
                ARMY_GROUPS.map { | key, value |
                  [
                    key,
                    { "data-content": "<span class='badge rounded-pill pill-tags pill-#{key}'><i class='bi bi-#{value[:icon]}'></i> <span class='pill-tags-text'>#{value[:name]}</span></span>".html_safe
                  }
                  ]
                },
                selected: army.group
              ),
              { include_blank: true },
              class: 'selectpicker flex-fill dropdown-toggle-custom dropdown-toggle-text-color bg-white',
              data: { noneselectedtext: 'Sin agrupar'}
            %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :region, class: 'input-group-text' %>
            <%= form.text_field :region, class: 'form-control', disabled: true %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :lord, class: 'input-group-text' %>
            <%= form.text_field :lord, class: 'form-control', disabled: true %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :notes, class: 'input-group-text' %>
            <%= form.text_area :notes, class: 'form-control' %>
          </div>

          <%= form.submit nil, class: 'btn btn-primary' %>
        </div>
      <% end %>
  </div>
</div>
