<div class="modal fade" id="armyModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-dark">
      <%= form_with model: army, local: false do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="Title"><%= army&.name %></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'army_data', army: army %>

          <div class="input-group mb-3">
            <%= form.label :name, class: 'input-group-text' %>
            <%= form.text_field :name, class: 'form-control', disabled: !@current_user&.is_master? %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :status, class: 'input-group-text' %>
            <%= form.select :status, @army_status.map { |k,v| [v["name"], k]}, {}, class: 'form-select', disabled: (army.status == 'dead') %>
          </div>

          <% if (!@current_user.faction.fleets.nil? || @current_user.is_master?) && !@options["fleets"].nil? %>
            <div class="input-group mb-3">
              <%= form.label :board, t('activerecord.attributes.army.board'), class: 'input-group-text' %>
              <%= form.select :board,
                options_for_select(
                @current_user.faction.fleets.map { |key, value|
                  [
                    key,
                    { "data-content": "<span class='badge rounded-pill pill-tags bg-success'><i class='bi bi-#{@options["fleets"][key]["icon"]}'></i> <span class='pill-tags-text'>#{@options["fleets"][key]["name"]}</span></span>".html_safe
                    }
                  ]
                },
                  selected: army.board
                ),
                { include_blank: true },
                class: 'selectpicker flex-fill dropdown-toggle-custom dropdown-toggle-text-color bg-white',
                data: { noneSelectedText: ' '}
              %>
            </div>
          <% end %>

          <div class="input-group mb-1 d-flex justify-content-between align-items-center">
            <%= form.label :tags, class: 'input-group-text w-100' %>
          </div>

          <div class="input-group mb-3">
            <%= ((100 - army.hp) / @options["hp"]["step"])&.nonzero? ? ('<span class="badge rounded-pill pill-tags pill-tags-text bg-danger me-1 mt-1"><i class="bi bi-' + @options["hp"]["icon"] + '"></i> ' + @options["hp"]["name"].capitalize + " " + number_to_modifier(((army.hp - 100) / @options["hp"]["step"])) + '</span>').html_safe : nil %>

            <% @attributes.each do | key, value | %>
              <%= (army["col#{value['sort']}"]&.nonzero? ? ('<span class="badge rounded-pill pill-tags pill-tags-text bg-primary me-1 mt-1"><i class="bi bi-' + value["icon"] + '"></i> ' + value["name"].capitalize + " " + number_to_modifier(army["col#{value['sort']}"]) + '</span>').html_safe : nil ) %>
            <% end %>

            <% army.tags.each do | tag | %>
              <span class="badge rounded-pill pill-tags pill-tags-text bg-<%= @tags[tag]['colour'] %> me-1 mt-1"><i class="bi bi-<%= @tags[tag]['icon'] %>"></i> <%= @tags[tag]["name"].capitalize %></span>
            <% end %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :position, class: 'input-group-text' %>
            <%= form.text_field :position, class: 'form-control' %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :group, class: 'input-group-text' %>
            <%= form.select :group,
              options_for_select(
                ARMY_GROUPS.map { | key, value |
                  [
                    key,
                    { "data-content": "<span class='badge rounded-pill pill-tags pill-#{key}'><i class='bi bi-#{value[:icon]}'></i> <span class='pill-tags-text'>#{value[:name]}</span></span>".html_safe
                  }
                  ]
                },
                selected: army.group
              ),
              { include_blank: true },
              class: 'selectpicker flex-fill dropdown-toggle-custom dropdown-toggle-text-color bg-white',
              data: { noneselectedtext: 'Sin agrupar'}
            %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :region, class: 'input-group-text' %>
            <%= form.text_field :region, class: 'form-control', value: army&.location&.name, disabled: true %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :lord, class: 'input-group-text' %>
            <%= form.text_field :lord, class: 'form-control', value: army&.family&.name, disabled: true %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :notes, class: 'input-group-text' %>
            <%= form.text_area :notes, class: 'form-control' %>
          </div>

          <%= form.submit nil, class: 'btn btn-primary' %>
        </div>
      <% end %>
  </div>
</div>
