<div class="modal fade" id="armyModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="Title"><%= t('helpers.action.damage') %></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <%= form_for :army, url: damage_multiple_armies_path, remote: true, method: :put do | form | %>
            <div class="alert alert-danger">
              <div>
                <i class="bi bi-exclamation-triangle-fill"></i>
                Se aplicará daño sobre los siguientes ejércitos:
              </div>
            </div>
              <% armies.each do | army | %>
                <p>
                  <%= hidden_field_tag "army_ids[]", army.id %>
                  <%= "* id: (#{army.id})" %>
                  <%= render 'army_one_line', army: army %>
                </p>
              <% end %>
            <div class="input-group mt-3">
              <%= form.label :damage, t("activerecord.attributes.army.damage"), class: 'input-group-text' %>
              <%= form.number_field :damage, class: "form-control", value: 0, step: 1, min: 0 %>
              <div class="bg-danger-subtle text-danger-emphasis p-2">
                1 punto de daño = <%= @army_scale %> hp
              </div>
            </div>
            <% if Rails.env.development? %>
              <div class="input-group mt-3">
                <%= form.label :times, class: 'input-group-text' %>
                <%= form.number_field :times, class: "form-control", value: 1, step: 1, min: 0, max: 10000 %>
              </div>
            <% end %>
            <div class="input-group mt-3">
              <%= form.submit t('helpers.submit.damage_multiple', model: Army.model_name.human.pluralize), class: 'btn btn-primary' %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
