<div class="modal fade" id="armyModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-dark text-white">
      <%= form_with model: army do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="Title"><%= army&.name %></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'army_data', army: army %>

          <div class="input-group mb-3">
            <%= form.label :name, class: 'input-group-text' %>
            <%= form.text_field :name, class: 'form-control' %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :status, class: 'input-group-text' %>
            <%= form.select :status, ARMY_STATUS, {}, class: 'form-select' %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :hp, class: 'input-group-text' %>
            <%= form.number_field :hp, class: 'form-control', step: @options["hp"]["step"] %>
          </div>

          <% @attributes.each do | key, value | %>
            <div class="input-group mb-3">
              <%= form.label value["name"] + " *(" + value["str"].to_s + ")", class: 'input-group-text' %>
              <%= form.number_field  "col#{value['sort']}", class: 'form-control', step: 1 %>
            </div>
          <% end %>

          <div class="input-group mb-3">
            <%= form.label :tags, class: 'input-group-text' %>
            <%= form.select :tags,
              options_for_select(
                @tags.map { | tag |
                  [
                    tag[0],
                    { "data-content": "<span class='badge rounded-pill pill-tags bg-#{tag[1]["colour"]}'><i class='bi bi-#{tag[1]["icon"]}'></i> <span class='pill-tags-text'>#{tag[1]["name"]}</span></span>".html_safe
                  }
                  ]
                },
                selected: army.tags
              ),
              { include_blank: false },
              class: 'selectpicker flex-fill dropdown-toggle-custom dropdown-toggle-text-color bg-white',
              title: 'Sin rasgos',
              multiple: true,
              data: { }
            %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :position, class: 'input-group-text' %>
            <%= form.text_field :position, class: 'form-control' %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :group, class: 'input-group-text' %>
            <%= form.select :group,
              options_for_select(
                ARMY_GROUPS.map { | key, value |
                  [
                    key,
                    { "data-content": "<span class='badge rounded-pill pill-tags pill-#{key}'><i class='bi bi-#{value[:icon]}'></i> <span class='pill-tags-text'>#{value[:name]}</span></span>".html_safe
                  }
                  ]
                },
                selected: army.group
              ),
              { include_blank: true },
              class: 'selectpicker flex-fill dropdown-toggle-custom dropdown-toggle-text-color bg-white',
              data: { noneselectedtext: 'Sin agrupar'}
            %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :location_id, class: 'input-group-text' %>
            <%= form.select :location_id, [""] + @regions.map { |x| [x.name, x.id] }, {}, class: 'form-select' %>
          </div>
          <div class="input-group mb-3">
            <%= form.label :family_id, class: 'input-group-text' %>
            <%= form.select :family_id, [""] + Family.all.order(visible: :desc, game_id: :asc, name: :asc).map { |x| [x.title, x.id] }, {}, class: 'form-select' %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :visible, class: 'input-group-text' %>
            <div class="form-check form-switch switch-group fs-2">
              <%= form.check_box :visible, class: 'form-check-input switch-group h-100' %>
            </div>
          </div>

          <div class="input-group mb-3">
            <%= form.label :notes, class: 'input-group-text' %>
            <%= form.text_area :notes, class: 'form-control' %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :factions, class: 'input-group-text' %>
            <%= form.select :faction_ids,
              options_for_select(
                @factions.pluck(:long_name, :id).map { |name, id|
                  [
                    id,
                    { "data-content": name
                  }
                  ]
                },
                selected: army.factions.pluck(:id)
              ),
              { include_blank: false },
              class: 'selectpicker flex-fill dropdown-toggle-custom dropdown-toggle-text-color bg-white',
              title: 'Sin facción',
              multiple: true,
              data: { }
            %>
          </div>

          <%= form.submit nil, class: 'btn btn-primary' %>
        </div>
      <% end %>
  </div>
</div>
