<div class="modal fade" id="armyModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title w-100" id="Title"><%= army&.name %></h5>
        <% if army.id %>
          <div class="w-100">
            <%= link_to '', send("army_path", army.id), remote: true, class: 'btn-Close bi bi-eye-fill text-white float-end' %>
          </div>
        <% end %>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: army, local: false do |form| %>
          <% if @current_user.is_master? %>
            <div class="input-group mb-3">
              <%= form.label :name, class: 'input-group-text' %>
              <%= form.text_field :name, class: 'form-control' %>
            </div>

            <div class="input-group mb-3">
              <%= form.label :status, class: 'input-group-text' %>
              <%= form.select :status, @army_status.map { |k,v| [v["name"], k]}, {}, class: 'form-select' %>
            </div>

            <div class="input-group mb-3">
              <%= form.label :xp, ('<i class="bi bi-' + @army_xp["icon"] + '"></i>&nbsp;').html_safe + @army_xp["name"].capitalize + " *(" + @army_xp["str"].to_s + ")", class: 'input-group-text' %>
              <%= form.number_field  :xp, class: 'form-control text-end', step: 1 %>

              <div class="input-group-append me-2">
                <span class="input-group-text bg-white text-dark">%</span>
              </div>

              <%= form.label :xp, ('<i class="bi bi-' + @army_morale["icon"] + '"></i>&nbsp;').html_safe + @army_morale["name"].capitalize + " *(" + @army_morale["str"].to_s + ")", class: 'input-group-text' %>
              <%= form.number_field  :xp, class: 'form-control text-end', step: 1 %>

              <div class="input-group-append">
                <span class="input-group-text bg-white text-dark">%</span>
              </div>
            </div>

            <% if @army_tags.present? && false %>
              <div class="input-group mb-3">
                <%= form.label :tags, class: 'input-group-text' %>
                <%= form.select :tags,
                  options_for_select(
                    @tags.map { | tag |
                      [
                        tag[0],
                        { "data-content": "<span class='badge rounded-pill pill-tags bg-#{tag[1]["colour"]}'><i class='bi bi-#{tag[1]["icon"]}'></i> <span class='pill-tags-text'>#{tag[1]["name"]}</span></span>".html_safe
                      }
                      ]
                    },
                    selected: army.tags
                  ),
                  { include_blank: false },
                  class: 'selectpicker flex-fill bootstrap-select-height dropdown-toggle-custom dropdown-toggle-text-color bg-white',
                  title: 'Sin rasgos',
                  multiple: true,
                  data: { }
                %>
              </div>
            <% end %>
          <% end %>

          <div class="input-group mb-3">
            <%= form.label :position, class: 'input-group-text' %>
            <%= form.text_field :position, class: 'form-control' %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :group, class: 'input-group-text' %>
            <%= form.select :group,
              options_for_select(
                ARMY_GROUPS.map { | key, value |
                  [
                    key,
                    { "data-content": "<span class='badge rounded-pill pill-tags pill-#{key}'><i class='bi bi-#{value[:icon]}'></i> <span class='pill-tags-text'>#{value[:name]}</span></span>".html_safe
                  }
                  ]
                },
                selected: army.group
              ),
              { include_blank: true },
              class: 'selectpicker flex-fill dropdown-toggle-custom dropdown-toggle-text-color bg-white',
              data: { noneselectedtext: 'Sin agrupar'}
            %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :location_id, class: 'input-group-text' %>
            <%= form.select :location_id, [""] + @regions.map { |x| [x.name, x.id] }, {}, class: 'form-select' %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :family_id, class: 'input-group-text' %>
            <%= form.select :family_id, [""] + Family.all.order(visible: :desc, game_id: :asc, name: :asc).map { |x| [x.title, x.id] }, {}, class: 'form-select' %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :visible, class: 'input-group-text' %>
            <div class="form-check form-switch switch-group fs-2">
              <%= form.check_box :visible, class: 'form-check-input switch-group h-100' %>
            </div>
          </div>

          <div class="input-group mb-3">
            <%= form.label :notes, class: 'input-group-text' %>
            <%= form.text_area :notes, class: 'form-control' %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :factions, class: 'input-group-text' %>
            <%= form.select :faction_ids,
              options_for_select(
                @factions.pluck(:long_name, :id).map { |name, id|
                  [
                    id,
                    { "data-content": name
                  }
                  ]
                },
                selected: army.factions.pluck(:id)
              ),
              { include_blank: false },
              class: 'selectpicker flex-fill dropdown-toggle-custom dropdown-toggle-text-color bg-white',
              title: 'Sin facción',
              multiple: true,
              data: { }
            %>
          </div>

          <div id="units">
            <%= form.fields_for :units do |unit_form| %>
              <%= render 'unit_fields', f: unit_form %>
            <% end %>
          </div>
          <div class="ps-3">
            <%= link_to_add_association(
              "<i class='bi bi-plus-circle'></i> #{t('helpers.submit.add', model: t("activerecord.models.unit", count: 1))}".html_safe,
              form,
              :units,
              class: 'btn btn-sm btn-success mb-3',
              data: {
                association_insertion_method: 'append',
                association_insertion_node: '#units'
              }
            ) %>
          </div>

          <%= form.submit nil, class: 'btn btn-primary' %>

          <% if army.logs&.empty? == false %>
            <div class="input-group mt-3">
              <%= form.label :changelog, class: 'input-group-text w-100' %>
              <% army.logs.reverse.each do | log | %>
                <% log = JSON.parse(log) %>
                <div class="ms-3 mt-1 w-100 fw-bolder">
                  <%= DateTime.parse(log["timestamp"]).strftime("%d/%m/%Y @ %H:%M") + ", by " + log["username"] %>
                  <% log["changes"]&.each do |change| %>
                    <div class="ms-3 mt-1 w-100 fw-lighter">
                      <%= change %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
