<div class="modal fade" id="armyModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
      <%= form_with model: army do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="Title"></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text" id="name">Nombre</span>
            <%= form.text_field :name, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="prefix">Estado</span>
            <%= form.text_field :status, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="prefix">Posición</span>
            <%= form.text_field :position, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="icon_url">Grupo</span>
            <%= form.select :group,
              options_for_select(
                ARMY_GROUPS.map { | key, value |
                  [
                    key,
                    { "data-content": "<span class='badge rounded-pill pill-army pill-#{key}'><i class='bi bi-#{value[:icon]}'></i> <span class='pill-army-text'>#{value[:name]}</span></span>".html_safe
                  }
                  ]
                },
                selected: army.group
              ),
              { include_blank: true},
              class: 'selectpicker flex-fill',
              title: 'Sin agrupar'
            %>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="title">Region</span>
            <%= form.text_field :region, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="title">Señor</span>
            <%= form.text_field :lord, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="title">Visibilidad</span>
            <%= form.text_field :visible, class: 'form-control' %>
          </div>
          <% @tool.options.count.times do | index | %>
            <div class="input-group mb-3">
              <span class="input-group-text" id="title"><%= @tool.options[index][0] %></span>
              <%= form.text_field "col#{index+1}", class: 'form-control' %>
            </div>
          <% end %>
          <div class="input-group mb-3">
            <span class="input-group-text" id="icon_url">Notas</span>
            <%= form.text_area :notes, class: 'form-control' %>
          </div>

          <%= form.submit nil, class: 'btn btn-primary' %>
        </div>
      <% end %>
  </div>
</div>
