<div class="modal fade" id="armyModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="Title"><%= t('helpers.submit.merge', model: Army.model_name.human.pluralize) %></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <% if @army_types.length > 1 %>
            <div class="container-fluid">
              <div class="alert alert-danger">
                <div>Por favor, escoge solo ejércitos del mismo tipo.</div>
                <div>Tipos presentes: <%= @army_types %>
              </div>
            </div>
          <% else %>
            <%= form_for :army, url: merge_multiple_armies_path, remote: true, method: :put do | form | %>
              <div class="alert alert-warning">
                <div>Los siguientes ejércitos serán unidos</div>
                <ul>
                  <% armies.each do | army | %>
                    <%= hidden_field_tag "army_ids[]", army.id %>
                    <li>
                      <%= render 'armies/one_line', army: army %>
                    </li>
                  <% end %>
                </ul>
                <hr class="border border-secondary opacity-75 border-2">
                <div>
                  Las siguientes unidades serán afectadas:
                  <ul>
                    <% units.each do |unit| %>
                      <%= hidden_field_tag "unit_ids[]", unit.id %>
                      <li>
                        <%= render 'units/one_line', unit: unit %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div class="input-group mt-3">
                <%= form.label :name, class: 'input-group-text' %>
                <%= form.text_field :name, class: 'form-control', required: true %>
              </div>
              <div class="input-group mt-3">
                <%= form.label :status, class: 'input-group-text' %>
                <%= form.select :status, @army_status.map { |k,v| [v["name"], k]}, {}, class: 'form-select' %>
              </div>
              <div class="input-group mt-3">
                <%= form.text_field :confirm, class: "form-control", placeholder: t('helpers.validate.validate') %>
              </div>
              <div class="input-group mt-3">
                <%= form.submit t('helpers.submit.merge', model: t('activerecord.models.army', count: 2)), class: 'btn btn-primary' %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
