<td>
  <%= check_box_tag "army_ids[]", army.id, false, id: 'id_army_' + army.id.to_s, class: "checkbox_selectable option-input", data: {checkbox: "armies" } %>
  <span id="army_copy_<%= army.id.to_s %>" class="d-none armies_copy">
    <%= render 'armies/plain_text', army: army %>
  </span>
  <span class="armies_strength d-none">
    <%= army.strength.round(2) %>
  </span>
  <span class="armies_strength_indirect d-none">
    <%= army.strength_indirect.round(2) %>
  </span>
  <span class="armies_hp d-none">
    <%= army.hp %>
  </span>
  <span class="armies_men d-none">
    <%= army.men %>
  </span>
  <span class="armies_speed d-none" data-speed="<%= army.speed %>">
    <%= army.speed_name %>
  </span>
  <% total_army_units_by_unit_type(army.units).each do |type, unit| %>
    <span class="unit_count <%= type %> d-none">
      <%= unit[:count] %>
    </span>
    <span class="unit_men <%= type %> d-none">
      <%= unit[:men] %>
    </span>
  <% end %>
</td>

<td>
  <span class="strength"><%= render 'armies/strength', army: army %></span>
</td>

<td>
  <i class="bi bi-<%= army.icon %> text-<%= army.colour %>"></i>
  <%= army.name %>
</td>

<td>
  <%= @army_status[army.status]["name"] %>
</td>

<td>
  <%= render 'traits', army: army %>
</td>

<td>
  <%= form_with model: army, local: false, html: { class: "d-inline-flex align-items-center gap-2" } do |form| %>
    <%= hidden_field_tag :inline, value: true %>
    <%= form.text_field :position, class: 'inline-edit-input form-control', style: 'height: 2.4rem', "data-initialvalue": army.position %>
    <span class="d-none"><%= army.position %></span>
  <% end %>
</td>

<td>
  <%= form_with model: army, class: 'inline-edit-select', local: false do |form| %>
    <%= form.hidden_field :inline, value: true %>
    <%= form.select :group,
      options_for_select(
        ARMY_GROUPS.map { | key, value |
          [
            key,
            {
              "data-content": "<span class='badge rounded-pill pill-tags pill-#{key} filter-value'><i class='bi bi-#{value[:icon]}'></i> <span class='pill-tags-text'>#{value[:name]}</span></span>".html_safe
            }
          ]
        },
        selected: army.group
      ),
      { include_blank: true },
      class: 'selectpicker flex-fill dropdown-toggle-custom inline-edit-select',
      title: 'Sin agrupar',
      data: { style: 'btn-success' }
    %>
  <% end %>
  <span class="d-none"><%= ARMY_GROUPS.fetch(army.group.to_sym, {}).fetch("name", "") %></span>
</td>

<% if @current_user&.is_master? %>
  <td class="text-center">
    <% if army.visible == true %>
      <%= army.factions.pluck(:long_name).join(", ") %>
    <% else %>
      <i class="bi bi-x-lg text-danger"></i>
    <% end %>
  </td>

  <td>
    <%= link_to '', edit_army_path(army), remote: true, class: 'bi bi-pencil-square text-white' %>
  </td>

  <td>
    <%= link_to '', delete_army_path(army), remote: true, class: 'bi bi-trash text-white' %>
  </td>
<% end %>
<td>
  <%= link_to '', army_path(army), remote: true, class: 'bi bi-eye-fill text-white' %>
</td>
<td>
  <%= link_to '', edit_notes_army_path(army), remote: true, class: army.notes.blank? ? 'bi bi-sticky text-white' : 'bi bi-sticky-fill text-warning' %>
</td>
