<td>
  <%= check_box_tag "army_ids[]", army.id, false, id: 'id_' + army.id.to_s,class: "checkbox_selectable option-input" %>
</td>

<td>
  <%= army.strength %>
</td>

<td>
  <%= army.name %>
</td>

<td>
  <%= @army_status[army.status]["name"] %>
</td>

<td>
  <%= render 'army_traits', army: army %>
</td>

<td>
  POS
</td>

<td>
  GROUP
</td>

<td>

</td>

<td>
  <%= link_to '', edit_army_path(army), remote: true, class: 'bi bi-pencil-square text-white' %>
</td>
