<div class="<%= @faction&.fleets.nil? ? 'col-md-12' : 'col-md-8' %> col-sm-12 faction-name">
  <div class="card bg-dark text-light border border-success">
    <div class="card-body">
      <p>La población del mundo civilizado es de 480 millones</p>

      <p>Hay <span id="total_men"><%= total_army_men(@armies_all) %></span> hombres movilizados, con una fuerza de combate de <span id="total_strength"><%= total_army_strength(@armies_all) %></span>. La guerra ha causado <span id="total_casualties"><%= (total_army_men_start(@armies_all) - total_army_men(@armies_all)) %></span> bajas entre los ejércitos.</p>

      <% if @faction %>
        <p>Dispones de <span id="faction_men"><%= total_army_men(@armies) %></span> hombres, con una fuerza de combate de <span id="faction_strength"><%= total_army_strength(@armies) %></span>. Has sufrido <span id="faction_casualties"><%= total_army_men_start(@armies) %></span> bajas durante la guerra.</p>
      <% end %>

      <p>Hay <span id="visible_men"></span> hombres visibles, con una fuerza de combate de <span id="visible_strength"></span>.
    </div>
  </div>
</div>

<% if @faction&.fleets.present? && @options_armies["fleets"].present? %>
  <div class="col-md-4 col-sm-12 ms-auto faction-name">
    <div class="card bg-dark text-light border border-success">
      <div class="card-body">
        FLEETS
      </div>
    </div>
  </div>
<% end %>
