<div class="input-group mb-1 ps-3 nested-fields">
  <%= f.label :unit, class: 'input-group-text' %>

  <%= f.select :unit_type,
    options_for_select(
      @unit_types.map { | key, value |
        [
          key,
          { "data-content": "<span class='badge rounded-pill pill-tags bg-brass'><i class='bi bi-#{value["icon"]}'></i> <span class='pill-tags-text'>#{value["name"]}</span></span>".html_safe
        }
        ]
      },
      f.object.unit_type
    ),
    { },
    class: 'selectpicker flex-fill dropdown-toggle dropdown-toggle-custom dropdown-toggle-text-color bg-white units-select',
    title: 'Sin tipo',
    data: { }
  %>

  <%= f.number_field :count, class: 'form-control', step: 1, min: 0, max: f.object.count, placeholder: t('activerecord.attributes.unit.count') %>
  <div class="col-md-1 col-sm-2">
    <%= f.number_field :modifier, class: 'form-control text-end', step: 1, min: -50, max: 200, placeholder: t('activerecord.attributes.unit.modifier') %>
  </div>
  <div class="input-group-append">
    <span class="input-group-text bg-white text-dark">%</span>
  </div>

  <% unless f.object.persisted? %>
    <%= link_to_remove_association("<i class='bi bi-x-circle-fill'></i>".html_safe, f, class: 'text-danger ms-1 pt-1') %>
  <% end %>
</div>
