<% provide(:title, @tool.title) %>
<% provide(:icon, @tool.icon_url) %>

<%= @options_armies %>


<div class="tool-title">
  <i class="white <%= yield(:icon) %>"></i>
  <%= yield(:title) %>
</div>

<% if @current_user&.is_master? %>
  <div class="col">
    <%= link_to new_army_path, class: "btn btn-primary", remote: true do %>
      <i class="bi bi-plus-circle"></i> <%= t('helpers.submit.create', model: t('activerecord.models.' + @tool.name.singularize, count: 1) ) %>
    <% end %>
  </div>
<% end %>

<div class="row" id="army_stats">
  <%= render 'stats', faction: @faction %>
</div>

<div id="army_table">
  <%= render 'armies_table' %>
</div>
