<% provide(:title, @tool.title) %>
<% provide(:icon, @tool.icon_url) %>

<div class="tool-title">
  <i class="white <%= yield(:icon) %>"></i>
  <%= yield(:title) %>
</div>

<% if @current_user&.is_master? %>
  <div class="col">
    <%= link_to new_army_path, class: "btn btn-primary", remote: true do %>
      <i class="bi bi-plus-circle"></i> Crear Nuevo Ejército
    <% end %>
  </div>
<% end %>

<div class="row my-3">
  <div class="col">
    <%= form_tag(edit_multiple_armies_path, method: :get, id: 'edit_multiple', remote: true) do %>
      <%= button_tag(type: 'button', class: "btn btn-primary btn-sm mass_edit_button mass-copy", disabled: true) do %>
        <i class="bi bi-clipboard"></i> Copiar
      <% end %>
      <%= button_tag(type: 'submit', class: "btn btn-warning btn-sm mass_edit_button", disabled: true, value: "update") do %>
        <i class="bi bi-pencil-square"></i> Editar en masa
      <% end %>
      <% if @current_user&.is_master? %>
        <%= button_tag(type: 'submit', class: "btn btn-danger btn-sm mass_edit_button", disabled: true, value: "destroy") do %>
          <i class="bi bi-trash"></i> Borrar en masa
        <% end %>
        <%= button_tag(type: 'submit', class: "btn btn-danger btn-sm", value: "import") do %>
          Importar
        <% end %>
        <%= link_to 'Exportar', export_armies_path(format: :csv), class: 'btn btn-danger btn-sm' %>
      <% end %>
    <% end %>
  </div>

  <div class="col">
    <div class="d-flex align-items-center">
      <%= select_tag "filter", options_for_select(@filter), id: "filterselect-#{@faction}", class: "form-select form-select-sm me-2" %>
      <input id="filtertext-<%= @faction %>" class="form-control form-control-sm" type="text" placeholder="Filtrar...">
    </div>
  </div>
</div>

<% if @current_user&.is_master? %>
  <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
    <% @factions.each do | faction | %>
      <li class="nav-item" role="presentation">
        <button class="nav-link <%= faction.name == "master" ? "active" : nil %> text-white" id="<%= faction.name %>-tab" data-bs-toggle="tab" data-bs-target="#<%= faction.name %>" type="button" role="tab" aria-controls="<%= faction.name %>" aria-selected="true"><%= faction.long_name %></button>
      </li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% @factions.each do | faction | %>
      <div class="tab-pane fade show  <%= faction.name == "master" ? "active" : nil %>" id="<%= faction.name %>" role="tabpanel" aria-labelledby="<%= faction.name %>-tab">
        <%= render 'armies_table', army: @armies = faction.name == "master" ? @all_armies : faction.armies, faction: faction %>
      </div>
    <% end %>
  </div>
<% else %>
  <%= render 'armies_table', faction: @current_user.faction %>
<% end %>

<div id='army-content'></div>
