<% provide(:title, @tool.title) %>
<% provide(:icon, @tool.icon_url) %>

<div class="tool-title">
  <i class="white <%= yield(:icon) %>"></i>
  <%= yield(:title) %>
</div>

<div class="row">
  <div class="col">
    <%= link_to new_army_path, class: "btn btn-primary", remote: true do %>
      <i class="bi bi-plus-circle"></i> Crear Nuevo Ejército
    <% end %>
  </div>

  <% house = "master" %>

  <div class="col">
    <div class="d-flex align-items-center">
      <%= select_tag "filter", options_for_select(@filter), id: "filterselect-#{house}", class: "form-select form-select-sm me-2" %>
      <input id="filtertext-<%= house %>" class="form-control form-control-sm" type="text" placeholder="Filtrar...">
    </div>
  </div>
</div>

<% if @current_user.is_master? %>
  <%= render 'armies_table' %>
<% else %>
  <%= render 'armies_table' %>
<% end %>

<div id='army-content'></div>
