<% provide(:title, @tool.title) %>
<% provide(:icon, @tool.icon_url) %>

<div class="tool-title">
  <i class="white <%= yield(:icon) %>"></i>
  <%= yield(:title) %>
</div>

<% if @current_user&.is_master? %>
  <%= form_with url: show_armies_path, id: 'get-armies', method: :get, local: false do |form| %>
    <ul class="nav nav-pills mb-3">
      <li class="me-1">Facciones:</li>
      <% @factions.each do |faction| %>
        <li>
          <%= form.button faction.long_name, type: 'button', id: 'tab-' + faction.id.to_s, value: faction.id, class: "nav-link nav-links-sm text-white armies-tab armies-load #{faction.name} #{(@faction == faction) ? 'active' : nil }" %>
        </li>
      <% end %>
    </ul>
    <ul class="nav nav-pills mb-3">
      <li class="me-1">Visibilidad:</li>
      <li><%= form.button 'Visible', name: 'visibility', type: 'button', id: 'visible-true', value: 'true', class: 'nav-link nav-links-sm text-white visible-tab armies-load active' %></li>
      <li><%= form.button 'Invisible', name: 'visibility', type: 'button', id: 'visible-false', value: 'false', class: 'nav-link nav-links-sm text-white visible-tab armies-load' %></li>
    </ul>
    <%= form.hidden_field :active_factions %>
    <%= form.hidden_field :active_visibility, value: true %>
  <% end %>
<% end %>

<div class="d-flex justify-content-center">
  <div id="spinner-main" class="spinner-border fs-1 d-none" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div id="army_controls" class="row">
  <div class="col">
  </div>
  <div class="col">
    <div class="d-flex align-items-center">
      <%= select_tag "filter", options_for_select(@army_filters, t('activerecord.attributes.army.name')), class: "form-select form-select-sm me-2 filterSelect", data: {filter: "army"} %>
      <input class="form-control form-control-sm filterText" type="text" placeholder="Filtrar..." data-filter="army">
    </div>
  </div>
</div>

<div id="army_table">
  <%= render 'armies/armies_table' %>
</div>


<div id="unit_controls" class="row">
  <% if @current_user&.is_master? %>
    <div class="col">
      <%= link_to new_unit_path, class: "btn btn-primary", remote: true do %>
        <i class="bi bi-plus-circle"></i> <%= t('helpers.submit.create', model: t('activerecord.models.unit', count: 1) ) %>
      <% end %>
      <%= link_to new_units_path, class: "btn btn-success", remote: true do %>
        <i class="bi bi-clipboard2-plus-fill"></i> <%= t('helpers.submit.create', model: t('activerecord.models.unit', count: 2) ) %>
      <% end %>
    </div>
  <% end %>
  <div class="col">
    <div class="d-flex align-items-center">
      <%= select_tag "filter", options_for_select(@unit_filters, t('activerecord.attributes.unit.name')), class: "form-select form-select-sm me-2 filterSelect", data: {filter: "unit"} %>
      <input class="form-control form-control-sm filterText" type="text" placeholder="Filtrar..." data-filter="unit">
    </div>
  </div>
</div>


<div id="unit_table">
  <%= render 'units/units_table' %>
</div>
