<div id="army_<%= army["id"] %>" class="row <%= army["status"] %>">
  <div class="row">
    <div class="col-8">
      <%= army["name"] %> (<i class="bi bi-award"></i><%= army["strength"] %>)
    </div>
    <div class="col-4">
      <% if @current_user&.is_master? %>
      [id: #<%= sprintf('%04d', army["id"]) %>]
      <i class="bi bi-x-circle-fill text-danger remove_army"></i>
      <% end %>
    </div>
  </div>
  <div class="row ms-2">
    <div class="col-8">
      <%= render 'armies/army_traits', army: army %>
    </div>
  </div>
</div>
