<div class="modal fade" id="battleModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-dark">
      <%= form_with model: battle, local: false do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="Title">Crear nueva batalla</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <%= form.label :name, class: 'input-group-text' %>
            <%= form.text_field :name, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <%= form.label :date, class: 'input-group-text' %>
            <%= form.date_field :date, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <%= form.label :terrain, class: 'input-group-text' %>
            <%= form.text_field :terrain, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <%= form.label :sideA, class: 'input-group-text' %>
            <%= form.text_field :sideA, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <%= form.label :sideB, class: 'input-group-text' %>
            <%= form.text_field :sideB, class: 'form-control' %>
          </div>

          <%= form.submit nil, class: 'btn btn-primary' %>
        </div>
      <% end %>
  </div>
</div>
