<div class="row">
  <% @clocks_open.each do |clock| %>
    <div class="card bg-<%= @outcomes[clock.outcome.to_s]['color']%> col-3 mx-1" id="clock_<%= clock.id.to_s %>">
      <%= render 'card', clock: clock %>
    </div>
  <% end %>
</div>

<% if @clocks_closed.present? %>
  <div class="row mt-2 h2">
    Relojes cerrados
  </div>
<% end %>

<div class="row mt-2">
  <% @clocks_closed.each do |clock| %>
    <div class="card bg-<%= @outcomes[clock.outcome.to_s]['color']%> col-3 mx-1" id="clock_<%= clock.id.to_s %>">
      <%= render 'card', clock: clock %>
    </div>
  <% end %>
</div>
