<div class="modal fade" id="clockModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-dark text-light">
      <%= form_with model: clock, local: false do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="Title"><%= clock&.name %></h5>
          <% if clock.id %>
            <div class="w-100">
              <%= link_to '', send("clock_path", clock.id), remote: true, class: 'btn-Close bi bi-eye-fill text-white float-end' %>
            </div>
          <% end %>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <%= form.label :name, class: 'input-group-text' %>
            <%= form.text_field :name, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <%= form.label :open, class: 'input-group-text' %>
            <div class="form-check form-switch switch-group fs-2">
              <%= form.check_box :open, class: 'form-check-input switch-group h-100', checked: @clock.open %>
            </div>
          </div>
          <div class="input-group mb-3">
            <%= form.label :style, class: 'input-group-text' %>
            <%= form.select :style, options_for_select(@styles.map { |key, value| [value["name"],key] }, @clock.style), { include_blank: '' }, class: 'form-select' %>
          </div>
          <div class="input-group mb-3 <%= clock.style == 'scale' ? nil : 'd-none' %>" id="sides">
            <%= form.label :left, class: 'input-group-text' %>
            <%= form.text_field :left, class: 'form-control', maxlength: 10 %>
            <%= form.label :right, class: 'input-group-text' %>
            <%= form.text_field :right, class: 'form-control', maxlength: 10 %>
          </div>
          <div class="input-group mb-3 no-memory <%= clock.style == 'memory' ? 'd-none' : nil %>">
            <%= form.label :size, class: 'input-group-text' %>
            <%= form.select :size, options_for_select(@sizes.map { |element| [element["name"], element["size"]] }, @clock.size), { include_blank: '' }, class: 'form-select' %>
          </div>
          <div class="input-group mb-3 <%= clock.style == 'memory' ? 'd-none' : nil %>">
            <%= form.label :outcome, class: 'input-group-text' %>
            <%= form.select :outcome, options_for_select(@outcomes.map { |key, value| [value["name"], key] }, @clock.outcome), { include_blank: false }, class: 'form-select' %>
          </div>
          <div class="input-group mb-3">
            <%= form.label :description, class: 'input-group-text' %>
            <%= form.text_area :description, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <%= form.label :visible, class: 'input-group-text' %>
            <div class="form-check form-switch switch-group fs-2">
              <%= form.check_box :visible, class: 'form-check-input switch-group h-100', checked: @clock.visible %>
            </div>
          </div>
          <div class="input-group mb-3">
            <%= form.label :family_id, class: 'input-group-text' %>
            <%= form.select :family_id, [""] + @families.map { |x| [truncate(x.title, length: 20, omission: '...'), x.id] }, {}, class: 'form-select' %>
          </div>

          <%= form.submit nil, class: 'btn btn-primary' %>
        </div>
        <% if clock&.logs&.empty? == false %>
          <div class="input-group mt-3">
            <%= form.label :changelog, class: 'input-group-text w-100' %>
            <% clock.logs.reverse.each do | log | %>
              <% log = JSON.parse(log) %>
              <div class="ms-3 mt-1 w-100 fw-bolder">
                <%= DateTime.parse(log["timestamp"]).strftime("%d/%m/%Y @ %H:%M") + ", by " + log["username"] %>
                <% log["changes"].each do |change| %>
                  <div class="ms-3 mt-1 w-100 fw-lighter">
                    <%= change %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
