<div class="modal fade" id="armyModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title w-100" id="Title"><%= t('helpers.submit.' + action, model: t('activerecord.models.unit', count: 2) ) %></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: create_units_path, local: false, method: :post do |form| %>
          <div class="input-group mb-3">
            <%= form.label :factions, t('activerecord.attributes.unit.factions'), class: 'input-group-text' %>
            <%= form.select :faction_ids,
              options_for_select(
                @factions.pluck(:long_name, :id).map { |name, id|
                  [
                    id,
                    { "data-content": name
                  }
                  ]
                },
                selected: nil
              ),
              { include_blank: false },
              class: 'selectpicker flex-fill dropdown-toggle-custom dropdown-toggle-text-color bg-white',
              title: t('helpers.select.no_faction'),
              multiple: true,
              data: { }
            %>
          </div>

          <div class="table-responsive">
            <table class="table table-dark table-borderless table-sm">
              <tr>
                <td>
                  <%= t('activerecord.attributes.unit.unit_type') %>
                </td>
                <td>
                  <%= t('activerecord.attributes.unit.count') %>
                </td>
                <% if @unit_tags.present? %>
                  <td>
                    <%= t('activerecord.attributes.unit.tags') %>
                  </td>
                <% end %>
                <td>
                  <%= t('activerecord.attributes.unit.location_id') %>
                </td>
                <td>
                  <%= t('activerecord.attributes.unit.family_id') %>
                </td>
              </tr>

              <% units.each_with_index do |unit, index| %>
                <%= fields_for "units[]", unit do |unit_form| %>
                  <%= render 'unit_fields', form: unit_form %>
                <% end %>
              <% end %>
            </table>
          </div>

          <button type="button" id="add-unit-row" class="btn btn-outline-primary">
            <i class="bi bi-plus-circle"></i> Añadir unidad
          </button>

          <div class="input-group mt-3">
            <%= form.text_field :confirm, class: "form-control", placeholder: t('helpers.validate.validate') %>
          </div>

          <div class="input-group mt-3">
            <%= form.submit t('helpers.submit.create_multiple', model: t('activerecord.models.unit', count: 2)), class: 'btn btn-success' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
