<td>
  <%= check_box_tag "unit_ids[]", unit.id, false, id: 'id_' + unit.id.to_s,class: "checkbox_selectable option-input" %>
</td>

<td>
  <%= render 'units/strength', unit: unit %>
</td>

<td>
  <span class="d-none"><%= unit.name %></span>
  <%= form_with model: unit, local: false, html: { class: "d-inline-flex align-items-center gap-2" } do |form| %>
    <i class="bi bi-<%= unit.army_icon %> text-<%= unit.colour %>"></i>
    <%= form.hidden_field :inline, value: true %>
    <%= form.text_field :name, class: 'inline-edit-input input-sm form-control', style: 'height: 1.75rem', "data-initialvalue": unit.name %>
  <% end %>
</td>

<td>
  <%= render 'units/one_line', unit: unit %>
</td>

<td>
  <%= unit.location&.name %>
</td>

<td>
  <%= unit.family&.title %>
</td>

<% if @current_user&.is_master? %>
  <td class="text-center">
    <% if unit.visible == true %>
      <%= unit.factions.pluck(:long_name).join(", ") %>
    <% else %>
      <i class="bi bi-x-lg text-danger"></i>
    <% end %>
  </td>

  <td>
    <%= link_to '', edit_unit_path(unit), remote: true, class: 'bi bi-pencil-square text-white' %>
  </td>

  <td>
    <%= link_to '', delete_unit_path(unit), remote: true, class: 'bi bi-trash text-white' %>
  </td>
<% end %>
