<% if @current_user&.is_master? %>
  <div class="col">
    <%= link_to new_unit_path, class: "btn btn-primary", remote: true do %>
      <i class="bi bi-plus-circle"></i> <%= t('helpers.submit.create', model: t('activerecord.models.unit', count: 1) ) %>
    <% end %>
    <%= link_to new_units_path, class: "btn btn-success", remote: true do %>
      <i class="bi bi-clipboard2-plus-fill"></i> <%= t('helpers.submit.create', model: t('activerecord.models.unit', count: 2) ) %>
    <% end %>
  </div>
<% end %>

<div class="row my-3">
  <div class="col">
    <%= form_tag(edit_multiple_units_path, method: :get, id: 'edit_multiple_units', remote: true) do %>
      <%= hidden_field_tag 'unit_ids', '', id: 'units_ids_field' %>
      <%= button_tag(type: 'button', class: "btn btn-primary btn-sm mass_edit_button mass-copy", disabled: true, data: {checkbox: "units" }) do %>
        <i class="bi bi-clipboard"></i> <%= t('helpers.action.copy') %> <i class="bi bi-check d-none"></i>
      <% end %>
      <% if @current_user&.is_master? %>
        <%= button_tag(type: 'submit', class: "btn btn-success btn-sm mass_edit_button", disabled: true, value: "create_army", data: {checkbox: "units" }) do %>
          <i class="bi bi-exclude"></i> <%= t('helpers.submit.create', model: Army.model_name.human) %>
        <% end %>
        <%= button_tag(type: 'submit', class: "btn btn-warning btn-sm mass_edit_button", disabled: true, value: "edit", data: {checkbox: "units" }) do %>
          <i class="bi bi-pencil-square"></i> <%= t('helpers.action.mass_edit') %>
        <% end %>
        <%= button_tag(type: 'submit', class: "btn btn-danger btn-sm mass_edit_button", disabled: true, value: "delete", data: {checkbox: "units" }) do %>
          <i class="bi bi-trash"></i> <%= t('helpers.action.mass_delete') %>
        <% end %>
        <%= button_tag(type: 'submit', class: "btn btn-danger btn-sm mass_edit_button", disabled: true, value: "damage", data: {checkbox: "units" }) do %>
          <i class="bi bi-damage-kinetic"></i> <%= t('helpers.action.damage') %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="table-responsive">
  <table id="unit_list" class="table table-dark table-striped table-borderless table-hover table-sm sortable">
    <caption class="text-light">Lista de unidades</caption>
    <thead>
      <tr>
        <th data-sorter="false" data-filter="checkbox" scope="col" style="width: 30px">
          <input type="checkbox" class="checkbox_select_all option-input" data-checkbox="units" /><span class="d-none"></span>
        </th>
        <th scope="col" style="width: 78px">
          <i class="bi bi-award"></i>
        </th>
        <th scope="col">
          <%= t('activerecord.attributes.unit.name') %>
        </th>
        <th scope="col">
          <%= t('activerecord.attributes.unit.description') %>
        </th>
        <th scope="col">
          <%= t('activerecord.attributes.unit.location_id') %>
        </th>
        <th scope="col">
          <%= t('activerecord.attributes.unit.family_id') %>
        </th>
        <% if @current_user&.is_master? %>
          <th scope="col" class="text-center"><%= t('activerecord.attributes.family.visible') %></th>
          <th scope="col" colspan="<%= @current_user.is_master? ? 3 : 2 %>" data-sorter="false"></th>
        <% end %>
      </tr>
    </thead>
    <tbody id="table_body">
      <div class="d-flex justify-content-center">
        <div id="spinner-units" class="spinner-border fs-1 d-none" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <% @units&.each do |unit| %>
        <%= render 'units/row_container', unit: unit %>
      <% end %>
    </tbody>
  </table>
</div>
