$('.created').remove();
$.fn.addFactorToList();
$.fn.recalculateFactors();

$('#result').addClass('d-none')

$('#title').html("<%= @recipe.name %>")
$('#recipe_id').val(<%= @recipe&.id %>)
$('#difficulty').val(<%= @recipe&.difficulty %>)
$('#desc').html("<%= @recipe&.description&.html_safe %>")

<% ["plus", "minus"].each do |direction| %>
  <% ["simple", "double"].each do |size| %>
    <% ["once", "multiple"].each do |style| %>
      let message = ""
      <% open = (size == "double" ? "<u>" : "") %>
      <% close = (size == "double" ? "</u>" : "") %>
      <% symbol = (direction == "plus" ? "◻️" : "◼️") %>
      <% sign = (direction == "plus" ? 1 : -1) %>

      <% @default_recipe.factors[direction + "_" + size + "_" + style]&.each do | factor | %>
        message += `<div class='ms-1 mb-1 <%= style == "once" ? "factor-toggle" : "factor" %> btn btn-sm btn-outline-<%= direction == "plus" ? "primary" : "danger" %> flex-fill me-2 created' data-factor='<%= size == "simple" ? 1 * sign : 3 * sign %>'>`
          message += `<span class='factor-data'><%= (open + symbol + factor.capitalize + close).html_safe %></span>`
          <% if style == "multiple" %>
            message += `<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
              0
            </span>`
          <% end %>
        message += `</div>`
        $('#factors-group').append(message)
      <% end %>
    <% end %>
  <% end %>
<% end %>

// Long press event
$('.factor.created').longpress(function() {
    $.fn.changeFactor($(this),-1);
});

// Click event
$('.factor.created').click(function(event) {
  if (event.ctrlKey) {
    $.fn.changeFactor($(this),-1);
  } else {
    $.fn.changeFactor($(this),1);
  }
});

// Toggle
$('.factor-toggle').click(function(event) {
  if ($(this).hasClass('active')) {
    $.fn.changeFactor($(this),-1,true);
  } else {
    $.fn.changeFactor($(this),1);
  }
});
