$('.created').remove();
$.fn.addFactorToList();
$.fn.recalculateFactors();

$('#result').addClass('d-none')

console.log("<%= @recipe.speed %>")

$('#title').html("<%= @recipe.name %>")
$('#speed').val("<%= @recipe.speed %>")
$('#recipe_id').val(<%= @recipe&.id %>)
$('#difficulty').val(<%= @recipe&.difficulty %>)
$('#desc').html("<%= j(Kramdown::Document.new(@recipe&.description || '')&.to_html).html_safe %>")

<% if @recipe.id != @options["default_recipe"] %>
  <% messages = [] %> <!-- Initialize the messages array -->

  <% ["plus", "minus"].each do |direction| %>
    <% ["simple", "double"].each do |size| %>
      <% ["once", "multiple"].each do |style| %>
        <% @recipe.factors["#{direction}_#{size}_#{style}"].each do |factor| %>

          <% open = (size == "double" ? "<u>" : "") %>
          <% close = (size == "double" ? "</u>" : "") %>
          <% symbol = (direction == "plus" ? "â—»ï¸" : "â—¼ï¸") %>
          <% sign = (direction == "plus" ? 1 : -1) %>

          <% message = "<div class='ms-1 mb-1 #{style == 'once' ? 'factor-toggle' : 'factor'} btn btn-sm btn-outline-#{direction == 'plus' ? 'primary' : 'danger'} flex-fill me-2 created' data-factor='#{size == 'simple' ? 1 * sign : 3 * sign}'>" %>
          <% message += "<span class='factor-data'>#{open}#{symbol}#{factor.capitalize}#{close}</span>" %>

          <% if style == "multiple" %>
            <% message += "<span class='position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning'>0</span>" %>
          <% end %>

          <% message += "</div>" %>

          <% messages << message.html_safe %> <!-- Add the final message to the array -->

        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% sorted_messages = messages.sort_by do |msg| %>
    <% content = msg.match(/<span class='factor-data'>(.*?)<\/span>/)[1] rescue '' %>
    <% content.gsub(/<\/?[^>]*>/, '') %>
  <% end %>

  <% sorted_messages.each do |sorted_message| %>
    $('#factors-group').append("<%= j sorted_message %>");
  <% end %>

  results = ""
  <% @recipe.results["major"].each_with_index do |result, index| %>
    results = `<div id="major_<%= index %>" class="ms-1 mb-1 result btn btn-sm btn-outline-danger created disabled">
      <span class='result-data'>ðŸŸ° <%= result %></span>
    </div>`
  <% end %>
  <% @recipe.results["minor"].each_with_index do |result, index| %>
    results += `<div id="minor_<%= index %>" class="ms-1 mb-1 result btn btn-sm btn-outline-warning created disabled">
      <span class='result-data'>âž– <%= result %></span>
    </div>`
  <% end %>
  <% @recipe.results["improvement"].each_with_index do |result, index| %>
    results += `<div id="improvement_<%= index %>" class="ms-1 mb-1 result btn btn-sm btn-outline-success created disabled">
      <span class='result-data'>âž• <%= result %></span>
    </div>`
  <% end %>
<% end %>

$('#consequences').prepend(results);
$('.result').removeClass('active');
$('.result').addClass('disabled');

// Long press event
$('.factor.created').longpress(function() {
    $.fn.changeFactor($(this),-1);
});
