<% provide(:title, @options["list"]["name"]) %>

<div class="container">
  <% @missions.sort_by { |_, mission| mission[:date] }.each do | id, mission | %>
    <div class="row my-2 py-2 <%= mission[:color] %> <%= mission[:today] %>">
      <div class="col-md-2 col-3 text-center">
        <% if mission[:date].year == 2000 %>
          <h2 class="display-5 bg-warning m-0 text-dark"><%= t('missions.index.no_date') %></h2>
        <% else %>
          <h1 class="display-4 bg-danger m-0"><span class="badge"><%= mission[:date].day %></span></h1>
          <h2 class="bg-white text-dark"><%= mission[:date].strftime("%b").upcase %></h2>
        <% end %>
      </div>
      <div class="col-md-10 col-9">
        <h3 class="text-uppercase">
          <strong><%= link_to mission[:title], 'https://www.valar.es/t/' + id.to_s, class: 'link-unstyled', target: '_blank' %></strong>
        </h3>
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= t('missions.index.master') %>:
            <span class="badge fs-6 bg-success"><%= mission[:assigned_to] %></span>
          </li>
          <li class="list-inline-item">
            <%= t('activerecord.attributes.user.faction') %>:
            <span class="badge fs-6 bg-primary"><%= mission[:category] %></span>
          </li>
        </ul>
        <div class="fw-light">
          <%= mission[:target].html_safe %>
        </div>
        <% if mission[:message].present? %>
          <h2><%= mission[:message] %></h2>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
