<% provide(:title, @tool.title) %>
<% provide(:icon, @tool.icon_url) %>

<div class="tool-title">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %>
</div>

<div class="container" id="map-container" data-loaded="false">
  <div class="container mt-5" style="margin-bottom: -160px;"">
    <div class="loader mx-auto invisible" id="printing"></div>
  </div>

  <div id="mapid" style="height: <%= @options['bounds'][1][0] %>px; width: <%= @options['bounds'][1][1] %>px">
  </div>
</div>

<script>
  <%= render partial: 'leaflet-measure-path', formats: [:js] %>
  <%= render partial: 'map', formats: [:js] %>
</script>
