<div class="table-responsive">
  <table id="location_list" class="table table-dark table-striped table-borderless table-hover table-sm align-middle sortable">
    <caption><%=  @tool.title %></caption>
    <thead>
      <tr>
        <th scope="col"><%= t('activerecord.attributes.location.name_es') %></th>
        <th scope="col"><%= t('activerecord.attributes.location.name_en') %></th>
        <th scope="col"><%= t('activerecord.attributes.location.description') %></th>
        <th scope="col"><%= t('activerecord.attributes.location.tags') %></th>
        <th scope="col"><%= t('activerecord.attributes.location.location_type') %></th>
        <th scope="col"><%= t('activerecord.attributes.location.region') %></th>
        <th scope="col"><%= t('activerecord.attributes.location.family_id') %></th>
        <% if @current_user&.is_master? %>
          <th scope="col" class="text-center sorter-bootstrap-icons"><%= t('activerecord.attributes.location.visible') %></th>
        <% end %>
        <% if @current_user&.is_admin? %>
          <th scope="col"><%= t('activerecord.attributes.location.game_id') %></th>
        <% end %>
        <th scope="col" colspan="2" data-sorter="false"></th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do | location | %>
        <tr id="location_<%= location.id.to_s %>" class="<%= (location.visible && location.game == active_game) ? nil : 'toggle-visibility inactive d-none'%>">
          <%= render 'row', location: location %>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
