<div>
  <table class="table table-dark table-striped table-borderless table-hover table-sm table-responsive align-middle sortable">
    <caption><%=  @tool.title %></caption>
    <thead>
      <tr>
        <% @tool.name.singularize.capitalize.constantize.columns_hash.except('id', 'created_at', 'updated_at').each do | column_name, column_info| %>
          <th scope="col" <%= (column_info.type.to_s == "boolean")? 'class="text-center" tyle="width: 75px"'.html_safe : '' %>>
            <%= @tool.name.singularize.capitalize.constantize.human_attribute_name column_name.to_sym %>
          </th>
        <% end %>
        <th scope="col" colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% instance_variable_get("@#{@tool.name.to_s}").each do |object| %>
        <tr>
          <% @tool.name.singularize.capitalize.constantize.columns_hash.except('id', 'created_at', 'updated_at').each do | column_name, column_info | %>
            <% if object[column_name.to_sym].class.to_s == "Array" %>
              <td><%= object[column_name.to_sym].join(", ") %></td>
            <% else %>
              <% if column_info.type.to_s == "boolean" %>
                <td class="text-center">
                  <% if object[column_name.to_sym] == true  %>
                    <i class="bi bi-check-lg"></i>
                  <% else %>
                    <i class="bi bi-x-lg"></i>
                  <% end %>
                </td>
              <% elsif column_name.to_s.include? ("s_id") %>
                <td>"MULTI"</td>
              <% elsif column_name.to_s.include? ("_id") %>
                <td><%= object[column_name.to_sym].nil? ? nil : column_name.split("_")[0].capitalize.constantize.find(object[column_name.to_sym]).title %></td>
              <% elsif column_name.to_s == "location_type" %>
                <td><%= @options["types"][object[column_name.to_sym]]["name"] %></td>
              <% elsif object[column_name.to_sym].to_s.length > 50 %>
                <td><%= truncate(object[column_name.to_sym].to_s, length: 100, omission: '...') %></td>
              <% else %>
                <td><%= object[column_name.to_sym].to_s %></td>
              <% end %>
            <% end %>
          <% end %>
          <td><%= link_to '', send("#{@tool.name.singularize}_path", object.id), remote: true, class: 'bi bi-eye-fill text-white' %></td>
          <% if @current_user.is_master? %>
            <td><%= link_to '',   send("edit_#{@tool.name.singularize}_path", object.id), remote: true, class: 'bi bi-pencil-square text-white' %></td>
            <td>
              <%= link_to send("#{@tool.name.singularize}_path", object.id), method: :delete, data: { confirm: "Estás seguro de eliminar el objeto #{object.name}?" }, remote: true do %>
                <i class="bi bi-trash text-white"></i>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
