<div class="modal fade" id="<%= @tool.name.singularize %>Modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="Title"><%= location&.name %></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if !(location.visible == true) %>
          <div class="alert alert-danger">Este lugar no está activo en la partida</div>
        <% end %>
        <p><strong>Nombre (ES):</strong> <%= location.name_es %></p>
        <p><strong>Nombre (EN):</strong> <%= location.name_en %></p>
        <p><strong>COOR X:</strong> <%= location.x %> | <strong>COOR Y:</strong> <%= location.y %></p>
        <p>
          <% location.tags do | tag | %>
            <span class="badge rounded-pill pill-tags pill-tags-text"><%= tag %></span>
          <% end %>
        </p>
        <p><strong>Región:</strong> <%= location.region %></p>
        <p><strong>Lord:</strong> <%= location.family&.title %></p>
      </div>
    </div>
  </div>
</div>
