<!-- Scaffold for basic tools -->

<% provide(:title, @tool.title) %>
<% provide(:icon, @tool.icon_url) %>

<% if @current_user.is_master? %>
  <div class="tool-title">
      <i class="white <%= yield(:icon) %>"></i>
      <%= yield(:title) %>
  </div>
<% end %>

<div class="col">
  <%= link_to send('new_location_path'), class: "btn btn-primary", remote: true do %>
    <i class="bi bi-plus-circle"></i> Crear Nuevo Lugar
  <% end %>
</div>

<%= render "locations_table" %>

<!-- Modal -->

<div id="location-content"></div>

<% if params[:id].present? %>
  <script>
    $(document).on('turbolinks:load', function() {
      $("#<%= @tool.name.singularize %>-content").html("<%= j render 'show', object: Location.find(params[:id]) %>");
      $("#<%= @tool.name.singularize %>Modal").modal('show');
    });
  </script>
<% end %>
