<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render 'layouts/header' %>
    <% flash.each do |message_type, message| %>
      <% if message.class == Hash %>
        <div id="error_explanation" class="container mx-auto text-center alert alert-danger">
          <h2>Se ha encontrado un error</h2>
          <ul class="list-unstyled text-left">
          <% message.values.each do |msg| %>
            <% msg.each do |m| %>
              <li><%= m %></li>
            <%end %>
          <% end %>
          </ul>
        </div>
      <% else %>
        <div class="container mx-auto text-center alert alert-<%= message_type %>" style=""><%= message.html_safe %></div>
      <% end %>
    <% end %>
    <div class="container content mt-3">
      <% if @current_user %>
        <div class="container">
          <%= link_to send('issues_url'), class: "display-4 float-end", remote: true, "data-bs-toggle": "tooltip", "data-bs-placement": "bottom", "title": "Informa de un error." do %>
            <i class="bi bi-bug-fill text-warning"></i>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
      <div id='content'></div>
    </div>
    <%= debug(params) if Rails.env.development? %>
    <% if Rails.env.development? %>
      <%= button_to login_hammer_path, method: :post, class: 'btn btn-sm btn-danger', form_class: 'm-auto' do %>
        <i class="fas fa-user"></i> Iniciar sesión como Hammer
      <% end %>
      <%= button_to login_master_path, method: :post, class: 'btn btn-sm btn-danger', form_class: 'm-auto' do %>
        <i class="fas fa-user"></i> Iniciar sesión como Master
      <% end %>
    <% end %>
  </body>
</html>
