<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'errors', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'common', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag '/assets/favicon.ico' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container content">
      <%= yield %>
    </div>
<%= debug(params) if Rails.env.development? %>

  </body>
</html>
